@{
    ViewBag.Title = "About Company";
}

<div class="about-page">
    <div class="about-block-0">
        <div>
            <p class="page-title">
                <span data-text="About Company">About Company</span>
            </p>
            <div class="bread">
                <a href="">Home page</a>
                <i>/</i>
                <a>About Company</a>
            </div>
            <img class="about-logo" src="~/Content/img/about-logo.png" alt="">
        </div>
    </div>
    <div class="about-block-1">
        <div>
            <div class="desc">
                <p>
                    The group of the professional traders having over 8 years of experience in the stock market of the USA, Europe and China and also the 5th summer experience of trading at the largest world cryptocurrency exchanges has decided to combine efforts and has founded the investment Way to Wealth Platform. Thanks to the accumulated knowledge gained during the work in such financial structures as JPMorgan, Renaissance Technologies, Man and Citi Group and also management of digital assets at the cryptocurrency exchanges Bitmex, Poloniex, Binance, Kraken, Bitfinex, Bittrex to the Way to Wealth team managed to develop the balanced strategy on indicators of risk level and profitability, providing with that the decent guaranteed income to each user of the platform.
                </p>
                <p>
                    Way to Wealth company is founded on a parity basis all participants of the team consisting of 4 traders who work in the different countries of the world, namely in China (Hong Kong), the USA (New York), Russia (Moscow and St. Petersburg). Access to management of assets of the Way to Wealth company is distributed equally between participants for a possibility of use of various trade tools on numerous exchange platforms and also for the organization of safety and transparency of management of assets of the company.
                </p>
            </div>
        </div>
    </div>
    <div class="about-block-2">
        <p class="subtitle">
            <img src="~/Content/img/about-page-icon-1.png" alt="">
            <span data-text="Our Mission">Our Mission</span>
        </p>
        <div class="desc">
            <p>
                Strong confidence in innovative break a blockchain technologies and smart contracts, has united the team of adherents by the organization of the Way to Wealth Investment Platform. Certainly, the success of each participant of the crypto foreign exchange market is defined especially by his personal confidence in the choice of the correct decision. The mission of our company to organize available and most profitable investment for citizens of the whole world. We seek to make interaction with our company favorable to all clients already at the first stages of cooperation.
            </p>
        </div>
        <p class="subtitle">
            <img src="~/Content/img/about-page-icon-2.png" alt="">
            <span data-text="Philosophy">Philosophy</span>
        </p>
        <div class="desc">
            <p>
                To independently lay a way to own welfare and formation of the family capital which in the future will become the guarantor of stability and wellbeing for you and your families! The family capital is strong confidence in the future regardless of an economic situation in your country and the World!
            </p>
        </div>
    </div>
    <div class="about-block-3">
        <div>
            <p class="subtitle">Platform purpose</p>
            <div class="desc">
                <p>
                    Purpose of the Way to Wealth Platform is to give an opportunity not only to earn the high fixed income, but also thanks to increase in personal level of financial literacy, to build business together on the way with modern digital economy. For realization of a goal we adhere to the following principles.
                </p>
            </div>
            <ul>
                <li>
                    <div class="img">
                        <img src="~/Content/img/page-about-icon-1.png" alt="">
                    </div>
                    <p>
                        Creation comfortable conditions to partners for realization of the financial purposes
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="~/Content/img/page-about-icon-2.png" alt="">
                    </div>
                    <p>
                        Increase in financial literacy by use a blockchain technologies and cryptocurrencies.
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="~/Content/img/page-about-icon-3.png" alt="">
                    </div>
                    <p>
                        Ensuring confidentiality of cooperation
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="~/Content/img/page-about-icon-4.png" alt="">
                    </div>
                    <p>
                        Conscientious and opened the relation with partners
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="~/Content/img/page-about-icon-5.png" alt="">
                    </div>
                    <p>
                        Development of the company taking into account the principles of social responsibility
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="about-block-4">
        <div>
            <p class="subtitle">
                <span data-text="Our advantages">Our advantages</span>
            </p>
            <div class="swiper-container swiper-about">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-block-4.png" alt="">
                        </div>
                        <div class="info">
                            <p class="caption">Preservation of the full anonymity of cooperation</p>
                            <p class="desc">
                                Replenishment and conclusion of investment amounts are made using reliable personalized tools – cryptocurrency
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-block-4_2.png" alt="">
                        </div>
                        <div class="info">
                            <p class="caption">Stable fixed payouts</p>
                            <p class="desc">
                                The guaranteed fixed payments for investment packages in independence of market conditions.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-block-4_3.png" alt="">
                        </div>
                        <div class="info">
                            <p class="caption">Implementation of activity on the basis of honesty, justice, decency and responsibility.</p>
                            <p class="desc">
                                Aiming at long-term cooperation with the partners, by comprehensive achievement of the stated results at observance of current laws about the competition.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-block-4_4.png" alt="">
                        </div>
                        <div class="info">
                            <p class="caption">Professional team of traders and marketing specialists</p>
                            <p class="desc">
                                Experts with wide experience of work in the large international companies, with excellent reputation, the achieved good results
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-block-4_5.png" alt="">
                        </div>
                        <div class="info">
                            <p class="caption">Line of tariff plans with different levels of investments and income</p>
                            <p class="desc">
                                You decide how many you want to earn, being based not only on private financial means, but also desire to cooperate
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-block-4_6.png" alt="">
                        </div>
                        <div class="info">
                            <p class="caption">Saving of your personal time</p>
                            <p class="desc">
                                All work on management of your assets is undertaken by the platform. You need only to get profit
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-block-4_7.png" alt="">
                        </div>
                        <div class="info">
                            <p class="caption">Multilevel referral program</p>
                            <p class="desc">
                                Remunerations for personal activity and receipt of dividends for creation of partner structure and development of the platform
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="about-block-5">
        <div>
            @*  <p class="subtitle">
            <span data-text="Team of founders">Team of founders</span>
        </p>
        <div class="desc">
            <p>
                На сегодняшний момент деятельность Платформы WayToWealth основана на паритетных началахвсех участников команды, состоящей из 4-х трейдеров. Трейдеры компании трудятся в разных странах мира, а именно в Китае (Гонконге), США (Нью-Йорке), России (Москве
                и Санкт-Петербурге). Доступ к управлению активами компании WayToWealth распределен поровну между участниками для возможности использования разных торговых инструментов на разных биржевых площадках, а также для организации безопасности
                и прозрачности управления активами компании. В ближайшее время планируется регистрация штаб-квартиры компании Way to Wealth в юрисдикции Великобритании, что создаст вспомогательные условия для доступа к финансовым институтам, обеспечивающих
                бесперебойный и надежный уровень сервиса для работы с биржевыми и криптовалютнымиактивами.
            </p>
        </div>
        <ul>
            <li>
                <img src="~/Content/img/personal_1.jpg" alt="">
            </li>
            <li>
                <img src="~/Content/img/personal_2.jpg" alt="">
            </li>
            <li>
                <img src="~/Content/img/personal_3.jpg" alt="">
            </li>
            <li>
                <img src="~/Content/img/personal_4.jpg" alt="">
            </li>
        </ul>*@
        </div>
    </div>
</div>