@{
    ViewBag.Title = "About Company";
}

<div class="about-page">
    <div class="inner-page-top" style="background-image: url(/Content/img/inner-page-top-about.jpg)">
        <div class="container">
            <h2>About Company</h2>
        </div>
    </div>
    <div class="bread">
        <div class="container">
            <a href="/">Home page</a>
            <i>/</i>
            <span>About Company</span>
        </div>
    </div>
    <div class="about-block-1 white-bg">
        <div class="container">
            <p class="animated">
                <i class="ion-ios-information"></i>
                The group of the professional traders having over 8 years of experience in the stock market of the USA, Europe and China and also the 5th summer experience of trading at the largest world cryptocurrency exchanges has decided to combine efforts and has founded the investment Way to Wealth Platform. Thanks to the accumulated knowledge gained during the work in such financial structures as JPMorgan, Renaissance Technologies, Man and Citi Group and also management of digital assets at the cryptocurrency exchanges Bitmex, Poloniex, Binance, Kraken, Bitfinex, Bittrex to the Way to Wealth team managed to develop the balanced strategy on indicators of risk level and profitability, providing with that the decent guaranteed income to each user of the platform.
            </p>
            <p class="animated">
                <i class="ion-ios-information"></i>
                Way To Wealth is based on the equal footing of all members of a team of highly skilled traders who work in different countries of the world.  Access to the asset management of Way To Wealth is automatically distributed equally between traders to enable the use of various trading tools on numerous stock exchanges, as well as to organize the security and transparency of the company's asset management.
            </p>
        </div>
    </div>
    <div class="about-block-2">
        <div class="container">
            <div class="flex">
                <div class="animated">
                    <h3><i class="ion-ios-pie"></i>Our Mission</h3>
                    <p>
                        Strong confidence in the innovative breakthrough of blockchain technologies and smart contracts, brought together a team of like-minded people by organizing the Way To Wealth Investment Platform.  Of course, the success of each participant in the cryptocurrency market is determined solely by his personal confidence in choosing the right solution.  The mission of our company is to organize affordable and most profitable investments for citizens all over the world.  We strive to make profitable cooperation with our company for everyone already at the first stages of cooperation.
                    </p>
                </div>
                <div class="animated" style="transition-delay:0.3s;">
                    <h3><i class="ion-ios-bulb"></i>Philosophy</h3>
                    <p>
                        Independently pave the way to your own well-being and the formation of family capital, which in the future will become the guarantor of stability and well-being for you and your family!  Family capital is firm confidence in the future regardless of the economic situation in your country and the World!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-block-3 white-bg">
        <div class="container">
            <h3 class="section-title">Platform purpose</h3>
            <p class="animated">
                Purpose of the Way to Wealth Platform is to give an opportunity not only to earn the high fixed income, but also thanks to increase in personal level of financial literacy, to build business together on the way with modern digital economy. For realization of a goal we adhere to the following principles
            </p>
            <ul>
                <li class="animated animated-2">
                    <i><img src="~/Content/img/page-about-icon-1.png" alt="" /></i>
                    <p>
                        Creation comfortable conditions to partners for realization of the financial purposes
                    </p>
                </li>
                <li class="animated animated-2" style="transition-delay:0.3s;">
                    <i><img src="~/Content/img/page-about-icon-2.png" alt="" /></i>
                    <p>
                        Increase in financial literacy by use a blockchain technologies and cryptocurrencies.
                    </p>
                </li>
                <li class="animated animated-2" style="transition-delay:0.6s;">
                    <i><img src="~/Content/img/page-about-icon-3.png" alt="" /></i>
                    <p>
                        Ensuring confidentiality of cooperation
                    </p>
                </li>
                <li class="animated animated-2" style="transition-delay:0.9s;">
                    <i><img src="~/Content/img/page-about-icon-4.png" alt="" /></i>
                    <p>
                        Conscientious and opened the relation with partners
                    </p>
                </li>
                <li class="animated animated-2" style="transition-delay:1.2s;">
                    <i><img src="~/Content/img/page-about-icon-5.png" alt="" /></i>
                    <p>
                        Development of the company taking into account the principles of social responsibility
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="about-block-4">
        <div class="container">
            <h3 class="section-title yellow">
                Our advantages
            </h3>
            <div class="swiper-container swiper-about animated">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-advantages-1-1.png" alt="">
                        </div>
                        <div class="info">
                            <h4>Preservation of the full anonymity of cooperation</h4>
                            <p>
                                Replenishment and conclusion of investment amounts are made using reliable personalized tools – cryptocurrency
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-advantages-2-1.png" alt="">
                        </div>
                        <div class="info">
                            <h4>Stable fixed payouts</h4>
                            <p>
                                The guaranteed fixed payments for investment packages in independence of market conditions.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-advantages-3-1.png" alt="">
                        </div>
                        <div class="info">
                            <h4>Implementation of activity on the basis of honesty, justice, decency and responsibility.</h4>
                            <p>
                                Aiming at long-term cooperation with the partners, by comprehensive achievement of the stated results at observance of current laws about the competition.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-advantages-4-1.png" alt="">
                        </div>
                        <div class="info">
                            <h4>Professional team of traders and marketing specialists</h4>
                            <p>
                                Experts with wide experience of work in the large international companies, with excellent reputation, the achieved good results
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-advantages-5-1.png" alt="">
                        </div>
                        <div class="info">
                            <p class="caption">Line of tariff plans with different levels of investments and income</p>
                            <p class="desc">
                                You decide how many you want to earn, being based not only on private financial means, but also desire to cooperate
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-advantages-6-1.png" alt="">
                        </div>
                        <div class="info">
                            <h4>Saving of your personal time</h4>
                            <p>
                                All work on management of your assets is undertaken by the platform. You need only to get profit
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-advantages-7-1.png" alt="">
                        </div>
                        <div class="info">
                            <h4>Multilevel referral program</h4>
                            <p>
                                Remunerations for personal activity and receipt of dividends for creation of partner structure and development of the platform
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    @*<div class="about-block-5">
        <div>
            <p class="subtitle">
                    <span data-text="Team of founders">Team of founders</span>
                </p>
                <div class="desc">
                    <p>
                        На сегодняшний момент деятельность Платформы WayToWealth основана на паритетных началахвсех участников команды, состоящей из 4-х трейдеров. Трейдеры компании трудятся в разных странах мира, а именно в Китае (Гонконге), США (Нью-Йорке), России (Москве
                        и Санкт-Петербурге). Доступ к управлению активами компании WayToWealth распределен поровну между участниками для возможности использования разных торговых инструментов на разных биржевых площадках, а также для организации безопасности
                        и прозрачности управления активами компании. В ближайшее время планируется регистрация штаб-квартиры компании Way to Wealth в юрисдикции Великобритании, что создаст вспомогательные условия для доступа к финансовым институтам, обеспечивающих
                        бесперебойный и надежный уровень сервиса для работы с биржевыми и криптовалютнымиактивами.
                    </p>
                </div>
                <ul>
                    <li>
                        <img src="~/Content/img/personal_1.jpg" alt="">
                    </li>
                    <li>
                        <img src="~/Content/img/personal_2.jpg" alt="">
                    </li>
                    <li>
                        <img src="~/Content/img/personal_3.jpg" alt="">
                    </li>
                    <li>
                        <img src="~/Content/img/personal_4.jpg" alt="">
                    </li>
                </ul>
        </div>
    </div>*@
</div>