@{
    ViewBag.Title = "О Компании";
}

<div class="about-page">
    <div class="about-block-0">
        <div>
            <p class="page-title">
                <span data-text="О компании">О компании</span>
            </p>
            <div class="bread">
                <a href="">Главная</a>
                <i>/</i>
                <a>О компании</a>
            </div>
            <img class="about-logo" src="~/Content/img/about-logo.png" alt="">
        </div>
    </div>
    <div class="about-block-1">
        <div>
            <div class="desc">
                <p>
                    Группа профессиональных трейдеров, имеющих свыше 8 лет опыта работы на фондовом рынке США, Европы и Китая, а также 5 летний опыт трейдинга на крупнейших мировых криптовалютных биржах решила объединить усилия и основала инвестиционную платформу Way to Wealth. Благодаря накопленным знаниям, полученным при работе в таких финансовых структурах как JPMorgan, Renaissance Technologies, Man и Citi Group, а также управлению цифровыми активами на криптовалютных биржах Bitmex, Poloniex, Binance, Kraken, Bitfinex, Bittrex команде Way to Wealth удалось разработать сбалансированную стратегию по показателям уровня риска и доходности, тем самым обеспечивая достойный гарантированный доход каждому пользователю платформы. 
                </p>
                <p>
                    Компания Way To Wealth основана на паритетных началах всех участников команды, состоящей из 4-х трейдеров, которые трудятся в разных странах мира, а именно в Китае (Гонконге), США (Нью-Йорке), России (Москве и Санкт-Петербурге). Доступ к управлению активами компании Way To Wealth распределен поровну между участниками для возможности использования разнообразных торговых инструментов на многочисленных биржевых площадках, а также для организации безопасности и прозрачности управления активами компании. В ближайшее время планируется регистрация штаб-квартиры компании Way to Wealth в юрисдикции Великобритании, что создаст вспомогательные условия для доступа к финансовым институтам, обеспечивающих бесперебойный и надежный уровень сервиса для работы с биржевыми и криптовалютными активами
                </p>
            </div>
        </div>
    </div>
    <div class="about-block-2">
        <p class="subtitle">
            <img src="~/Content/img/about-page-icon-1.png" alt="">
            <span data-text="Наша Миссия">Наша Миссия</span>
        </p>
        <div class="desc">
            <p>
                Твердая уверенность в инновационном прорыве блокчейн-технологий и смарт-контрактов, объединила команду единомышленников путем организации инвестиционной Платформы Way To Wealth. Безусловно, успешность каждого участника криптовалютного рынка определяется сугубо его личной уверенностью в выборе правильного решения. Миссия нашей компании, организовать для граждан во всем мире доступное и максимально прибыльное инвестирование. Мы стремимся сделать взаимодействие с нашей компанией выгодным для всех клиентов уже на первых этапах сотрудничества.
            </p>
        </div>
        <p class="subtitle">
            <img src="~/Content/img/about-page-icon-2.png" alt="">
            <span data-text="Философия">Философия</span>
        </p>
        <div class="desc">
            <p>
                Самостоятельно проложить путь к собственному благосостоянию и формированию фамильного капитала, который в будущем станет гарантом стабильности и благополучия для Вас и ваше семьи! Фамильный капитал – твердая уверенность в будущем вне зависимости от экономической ситуации в Вашей стране и Мире!
            </p>
        </div>
    </div>
    <div class="about-block-3">
        <div>
            <p class="subtitle">Цель платформы</p>
            <div class="desc">
                <p>
                    Цель платформы Way To Wealth - предоставить возможность не только зарабатывать высокий фиксированный доход, но и благодаря повышению личного уровня финансовой грамотности, строить бизнес вместе на пути с современной цифровой экономикой. Для реализации поставленной цели мы придерживаемся следующим принципам
                </p>
            </div>
            <ul>
                <li>
                    <div class="img">
                        <img src="~/Content/img/page-about-icon-1.png" alt="">
                    </div>
                    <p>
                        Создание комфортных условия партнерам для реализации своих финансовых целей
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="~/Content/img/page-about-icon-2.png" alt="">
                    </div>
                    <p>
                        Повышение финансовой грамотности путем использования блокчейн-технологий и криптовалют
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="~/Content/img/page-about-icon-3.png" alt="">
                    </div>
                    <p>
                        Обеспечение конфиденциальности сотрудничества
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="~/Content/img/page-about-icon-4.png" alt="">
                    </div>
                    <p>
                        Добросовестные и открытые отношения с партнерами
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="~/Content/img/page-about-icon-5.png" alt="">
                    </div>
                    <p>
                        Развитие компании с учетом принципов социальной ответственности
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="about-block-4">
        <div>
            <p class="subtitle">
                <span data-text="Наши преимущества">Наши преимущества</span>
            </p>
            <div class="swiper-container swiper-about">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-block-4.png" alt="">
                        </div>
                        <div class="info">
                            <p class="caption">Сохранение полной анонимности сотрудничества</p>
                            <p class="desc">
                                Пополнение и вывод инвестиционных сумм производится с использованием надежных персонализированных инструментов - криптовалют
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-block-4_2.png" alt="">
                        </div>
                        <div class="info">
                            <p class="caption">Стабильные фиксированные выплаты</p>
                            <p class="desc">
                                Гарантированные фиксированные выплаты по инвестиционным пакетам в независимости от рыночной конъюнктуры
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-block-4_3.png" alt="">
                        </div>
                        <div class="info">
                            <p class="caption">Осуществление деятельности на основе честности, справедливости, порядочности и ответственности</p>
                            <p class="desc">
                                Нацеленность на долгосрочное сотрудничество со своими партнерами, путем всестороннего достижения заявленных результатов при соблюдение действующих законов о конкуренции
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-block-4_4.png" alt="">
                        </div>
                        <div class="info">
                            <p class="caption">Профессиональная команда трейдеров и маркетологов</p>
                            <p class="desc">
                                Специалисты с большим опытом работы в крупных международных компаниях, с отличной репутацией, достигших высоких результатов
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-block-4_5.png" alt="">
                        </div>
                        <div class="info">
                            <p class="caption">Линейка тарифных планов с разными уровнями инвестиций и дохода</p>
                            <p class="desc">
                                Вы сами решаете сколько хотите зарабатывать, основываясь не только на личном финансовом состоянии, но и желании сотрудничать
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-block-4_6.png" alt="">
                        </div>
                        <div class="info">
                            <p class="caption">Экономия вашего личного времени.</p>
                            <p class="desc">
                                Всю работу по управлению Вашими активами берет на себя команда профессиональных трейдеров, имеющий значительный опыт торговли на криптовалютном рынке. Вам остается лишь получать прибыль
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-block-4_7.png" alt="">
                        </div>
                        <div class="info">
                            <p class="caption">Многоуровневая реферальная программа</p>
                            <p class="desc">
                                Вознаграждения за личную активность и получение дивидендов за построение партнерской структуры и развития Платформы
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="about-block-5">
        <div>
            @* <p class="subtitle">
                <span data-text="Команда основателей">Команда основателей</span>
            </p>
            <div class="desc">
                <p>
                На сегодняшний момент деятельность Платформы WayToWealth основана на паритетных началахвсех участников команды, состоящей из 4-х трейдеров. Трейдеры компании трудятся в разных странах мира, а именно в Китае (Гонконге), США (Нью-Йорке), России (Москве
                и Санкт-Петербурге). Доступ к управлению активами компании WayToWealth распределен поровну между участниками для возможности использования разных торговых инструментов на разных биржевых площадках, а также для организации безопасности
                и прозрачности управления активами компании. В ближайшее время планируется регистрация штаб-квартиры компании Way to Wealth в юрисдикции Великобритании, что создаст вспомогательные условия для доступа к финансовым институтам, обеспечивающих
                бесперебойный и надежный уровень сервиса для работы с биржевыми и криптовалютнымиактивами.
            </p>
        </div>
        <ul>
            <li>
                <img src="~/Content/img/personal_1.jpg" alt="">
            </li>
            <li>
                <img src="~/Content/img/personal_2.jpg" alt="">
            </li>
            <li>
                <img src="~/Content/img/personal_3.jpg" alt="">
            </li>
            <li>
                <img src="~/Content/img/personal_4.jpg" alt="">
            </li>
        </ul>*@
        </div>
    </div>
</div>