@{
    ViewBag.Title = "О Компании";
}

<div class="about-page">
    <div class="inner-page-top" style="background-image: url(/Content/img/inner-page-top-about.jpg)">
        <div class="container">
            <h2>О компании</h2>
        </div>
    </div>
    <div class="bread">
        <div class="container">
            <a href="/">Главная</a>
            <i>/</i>
            <span>О компании</span>
        </div>
    </div>
    <div class="about-block-1 white-bg">
        <div class="container">
            <p class="animated">
                <i class="ion-ios-information"></i>
                Группа профессиональных трейдеров, имеющих свыше 8 лет опыта работы на фондовом рынке США, Европы и Китая, а также 5 летний опыт трейдинга на крупнейших мировых криптовалютных биржах решила объединить усилия и основала инвестиционную платформу Way to Wealth. Благодаря накопленным знаниям, полученным при работе в таких финансовых структурах, как JPMorgan, Renaissance Technologies, Man и Citi Group, а также управлению цифровыми активами на криптовалютных биржах Bitmex, Poloniex, Binance, Kraken, Bitfinex, Bittrex команде Way to Wealth удалось разработать сбалансированную стратегию по показателям уровня риска и доходности, тем самым обеспечивая достойный гарантированный доход каждому пользователю платформы.
            </p>
            <p class="animated">
                <i class="ion-ios-information"></i>
                Компания Way To Wealth основана на паритетных началах всех участников команды, состоящей из высококвалифицированных трейдеров, которые трудятся в разных странах мира. Доступ к управлению активами компании Way To Wealth распределяется автоматически поровну между трейдерами для возможности использования разнообразных торговых инструментов на многочисленных биржевых площадках, а также для организации безопасности и прозрачности управления активами компании.
            </p>
        </div>
    </div>
    <div class="about-block-2">
        <div class="container">
            <div class="flex">
                <div class="animated">
                    <h3><i class="ion-ios-pie"></i>Наша Миссия</h3>
                    <p>
                        Твердая уверенность в инновационном прорыве блокчейн-технологий и смарт-контрактов, объединила команду единомышленников путем организации инвестиционной Платформы Way To Wealth. Безусловно, успешность каждого участника криптовалютного рынка определяется сугубо его личной уверенностью в выборе правильного решения. Миссия нашей компании, организовать для граждан во всем мире доступное и максимально прибыльное инвестирование. Мы стремимся сделать выгодным взаимодействие с нашей компанией для всех  уже на первых этапах сотрудничества.
                    </p>
                </div>
                <div class="animated" style="transition-delay:0.3s;">
                    <h3><i class="ion-ios-bulb"></i>Философия</h3>
                    <p>
                        Самостоятельно проложить путь к собственному благосостоянию и формированию фамильного капитала, который в будущем станет гарантом стабильности и благополучия для Вас и Ваше семьи! Фамильный капитал – твердая уверенность в будущем вне зависимости от экономической ситуации в Вашей стране и Мире!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-block-3 white-bg">
        <div class="container">
            <h3 class="section-title">Цель платформы</h3>
            <p class="animated">Цель платформы Way To Wealth - предоставить возможность не только зарабатывать высокий и стабильный доход, но и благодаря повышению личного уровня финансовой грамотности строить бизнес вместе на пути с современной цифровой экономикой. Для реализации поставленной цели мы придерживаемся следующим принципам</p>
            <ul>
                <li class="animated animated-2">
                    <i><img src="~/Content/img/page-about-icon-1.png" alt="" /></i>
                    <p>
                        Создание комфортных условий партнерам для реализации своих финансовых целей
                    </p>
                </li>
                <li class="animated animated-2" style="transition-delay:0.3s;">
                    <i><img src="~/Content/img/page-about-icon-2.png" alt="" /></i>
                    <p>
                        Повышение финансовой грамотности путем использования блокчейн-технологий и криптовалют
                    </p>
                </li>
                <li class="animated animated-2" style="transition-delay:0.6s;">
                    <i><img src="~/Content/img/page-about-icon-3.png" alt="" /></i>
                    <p>
                        Обеспечение конфиденциальности сотрудничества
                    </p>
                </li>
                <li class="animated animated-2" style="transition-delay:0.9s;">
                    <i><img src="~/Content/img/page-about-icon-4.png" alt="" /></i>
                    <p>
                        Добросовестные и открытые отношения с партнерами
                    </p>
                </li>
                <li class="animated animated-2" style="transition-delay:1.2s;">
                    <i><img src="~/Content/img/page-about-icon-5.png" alt="" /></i>
                    <p>
                        Развитие компании с учетом принципов социальной ответственности
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="about-block-4">
        <div class="container">
            <h3 class="section-title yellow">Наши преимущества</h3>
            <div class="swiper-container swiper-about animated">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-advantages-1-1.png" alt="">
                        </div>
                        <div class="info">
                            <h4>Сохранение полной анонимности сотрудничества</h4>
                            <p>
                                Пополнение и вывод инвестиционных сумм производится с использованием надежных персонализированных инструментов - криптовалют
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-advantages-2-1.png" alt="">
                        </div>
                        <div class="info">
                            <h4>Стабильные выплаты</h4>
                            <p>
                                Мы осуществляем еженедельные выплаты по инвестиционным портфелям в независимости от рыночной конъюнктуры
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-advantages-3-1.png" alt="">
                        </div>
                        <div class="info">
                            <h4>Осуществление деятельности на основе честности, справедливости, порядочности и ответственности</h4>
                            <p>
                                Нацеленность на долгосрочное сотрудничество со своими партнерами путем всестороннего достижения заявленных результатов при соблюдение действующих законов о конкуренции
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-advantages-4-1.png" alt="">
                        </div>
                        <div class="info">
                            <h4>Профессиональная команда трейдеров и маркетологов</h4>
                            <p>
                                Специалисты с большим опытом работы в крупных международных компаниях с отличной репутацией, достигшие высоких результатов
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-advantages-5-1.png" alt="">
                        </div>
                        <div class="info">
                            <h4>Линейка тарифных планов с разными уровнями инвестиций и дохода</h4>
                            <p>
                                Вы сами решаете сколько хотите зарабатывать, основываясь не только на личном финансовом состоянии, но и на желании сотрудничать
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-advantages-6-1.png" alt="">
                        </div>
                        <div class="info">
                            <h4>Экономия вашего личного времени.</h4>
                            <p>
                                Всю работу по управлению Вашими активами берет на себя команда профессиональных трейдеров, имеющих значительный опыт торговли на криптовалютном рынке. Вам остается лишь получать прибыль
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/about-advantages-7-1.png" alt="">
                        </div>
                        <div class="info">
                            <h4>Многоуровневая реферальная программа</h4>
                            <p>
                                Вознаграждения за личную активность и получение дивидендов за построение партнерской структуры и развития Платформы
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    @*<div class="about-block-5">
            <div>
                <p class="subtitle">
                            <span data-text="Команда основателей">Команда основателей</span>
                        </p>
                        <div class="desc">
                            <p>
                            На сегодняшний момент деятельность Платформы WayToWealth основана на паритетных началахвсех участников команды, состоящей из 4-х трейдеров. Трейдеры компании трудятся в разных странах мира, а именно в Китае (Гонконге), США (Нью-Йорке), России (Москве
                            и Санкт-Петербурге). Доступ к управлению активами компании WayToWealth распределен поровну между участниками для возможности использования разных торговых инструментов на разных биржевых площадках, а также для организации безопасности
                            и прозрачности управления активами компании. В ближайшее время планируется регистрация штаб-квартиры компании Way to Wealth в юрисдикции Великобритании, что создаст вспомогательные условия для доступа к финансовым институтам, обеспечивающих
                            бесперебойный и надежный уровень сервиса для работы с биржевыми и криптовалютнымиактивами.
                        </p>
                    </div>
                    <ul>
                        <li>
                            <img src="~/Content/img/personal_1.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/Content/img/personal_2.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/Content/img/personal_3.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/Content/img/personal_4.jpg" alt="">
                        </li>
                    </ul>
            </div>
        </div>*@
</div>