@{
    ViewBag.Title = "Access to the system";
}

<div class="about-page">
    <div class="inner-page-top" style="background-image: url(/Content/img/inner-page-top-about.jpg)">
        <div class="container">
            <h2>Access to the system</h2>
        </div>
    </div>
    <div class="bread">
        <div class="container">
            <a href="/">Home page</a>
            <i>/</i>
            <span>Access to the system is temporarily restricted</span>
        </div>
    </div>
    <div class="about-block-1 white-bg">
        <div class="container">
            <p class="animated">
                <i class="ion-ios-information"></i>
                Dear investor!<br />
                The Way to Wealth platform in the near future will provide an opportunity for full access to their products and services to everyone!
                <br />If you do not want to miss this moment and be one of the first, then you can leave your email address and we will notify you about the start of registration!
            </p>
            <div class="text-center">
                <a href="javascript:jivo_api.open()" class="btn btn-bordered">
                    Notify
                </a>
            </div>
        </div>
    </div>
</div>