@{
    ViewBag.Title = "Доступ в систему";
}

<div class="about-page">
    <div class="inner-page-top" style="background-image: url(/Content/img/inner-page-top-about.jpg)">
        <div class="container">
            <h2>Доступ в систему</h2>
        </div>
    </div>
    <div class="bread">
        <div class="container">
            <a href="/">Главная</a>
            <i>/</i>
            <span>Доступ в систему временно ограничен</span>
        </div>
    </div>
    <div class="about-block-1 white-bg">
        <div class="container">
            <p class="animated">
                <i class="ion-ios-information"></i>
                Уважаемый инвестор!<br />
                Платформа Way to Wealth в ближайшее время предоставит возможность полноценного доступа к своим продуктам и сервисам всем желающим!
                <br />Если Вы не хотите пропустить этот момент и быть одним из первых, то Вы можете оставить свой электронный адрес, и мы уведомим Вас о запуске регистрации!
            </p>
            <div class="text-center">
                <a href="javascript:jivo_api.open()" class="btn btn-bordered">
                    Уведомить
                </a>
            </div>
        </div>
    </div>
</div>