@{
    ViewBag.Title = "Faq";
}

<div class="faq-page">
    <div class="faq-banner">
        <div class="faq-content">
            <p class="page-title">
                <span data-text="FAQ">FAQ</span>
            </p>
            <div class="bread">
                <a href="/">Главная</a>
                <i>/</i>
                <a>FAQ</a>
            </div>
        </div>
    </div>
    <div class="faq-wrap">
        <div class="faq-content">
            <div class="faq-flex">
                @*<ul class="faq-menu">
                        <li class="active">
                            <a data-id="answer-block-1">Регистрация аккаунта/личный кабинет</a>
                        </li>
                        <li>
                            <a data-id="answer-block-2">Инвестиционная программа</a>
                        </li>
                        <li>
                            <a data-id="answer-block-3">Пополнение/Вывод/Перевод средств</a>
                        </li>
                        <li>
                            <a data-id="answer-block-4">Партнерам</a>
                        </li>
                    </ul>*@
                <div class="faq-cont">
                    <div class="answer-block-1 answer-block">
                        <p class="caption">Регистрация аккаунта/личный кабинет</p>
                        <ul>
                            <li class="active">
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Как зарегистрировать аккаунт (с реферальной ссылкой/без нее) на сайте платформы и получить доступ к личному кабинету?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        <b>Регистрация на сайте платформы возможна тремя способами</b>
                                    </p>
                                    <ol>
                                        <li>
                                            Регистрация по реферальной ссылке на сайте платформы осуществляется путем перехода по ссылке, полученной у Партнера. Вам не нужно прописывать ID или логин Партнера, система автоматически его пропишет в соответствующее поле на форме регистрации.
                                        </li>
                                        <li>
                                            Самостоятельная регистрация на сайте платформы с использованием учетных данных пригласившего вас Партнера. Вам необходимо заранее получить у рассказавшего о платформе Партнере его ID или Логин, и при заполнении регистрационных карточки указать полученные
                                            данные в соответствующем поле на форме регистрации.
                                        </li>
                                        <li>
                                            Также возможно самостоятельная регистрация без указания ID или логина партнера, тогда согласно правилам платформы, вы будете зарегистрированы под одним из региональных партнеров-лидеров.
                                        </li>
                                    </ol>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Процессинг регистрации:</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        В адресную строку браузера нужно ввести реферальную ссылку пригласившего вас партнера, или прямую ссылку на сайт платформы.
                                    </p>
                                    <p>На главной странице сайта в правом верхнем углу нажмите кнопку <b>«регистрация»</b></p>
                                    <p>
                                        В предложенной Вам форме регистрации заполнить:
                                    </p>
                                    <ol>
                                        <li>
                                            1) заполнить ФИО
                                        </li>
                                        <li>
                                            2) указать Ваш действующий email
                                        </li>
                                        <li>
                                            3) указать логин (по умолчанию можно оставить Ваш email. Минимальная длина 4 символа. (Допустимые символы: буквы латиницы, знак подчеркивания, цифры )
                                        </li>
                                        <li>
                                            4) указать пароль (минимальная длина 6 символов. Латиница + наличие заглавной буквы и цифры)
                                        </li>
                                        <li>
                                            5) Повторить пароль
                                        </li>
                                        <li>
                                            6) Далее нажимаете кнопку <b>«Регистрация»</b> На указанный Вами электронный адрес в течении 5-10 минут будет выслано письмо ссылкой для подтверждения регистрации. Необходимо перейти по этой ссылке и завершить регистрацию. Если вы не получили письмо, то Вам
                                            следует проверить папку Спам. В случае отсутствия письма напишите нам письмо на <a style="color: #a67900; text-decoration: underline;" href="mailto:support@w2w.fund">support@w2w.fund</a>
                                        </li>
                                        <li>
                                            7) Введите ваш логин (email) и пароль, нажмите кнопку <b>«Войти»</b>
                                        </li>
                                    </ol>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Могу ли я зарегистрировать несколько аккаунтов?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        Мы против умышленного создания двух и более личных аккаунтов, оформленных на одинаковые персональные данные. Если же Вы хотите увеличить свои инвестиции, то Вы можете в любой момент приобрести один из представленных инвестиционных пакетов и объединять
                                        их с уже существующими программами, для получения более выгодных условий.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Верификация</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        Верификация аккаунтов на платформе Way to Wealth не обязательна. Она необходима только в случае обнаружения мошеннических действий в отношении платформы Way to Wealth.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Как верифицировать аккаунт?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        В личном кабинете откройте меню <b>«Профиль»</b> и в блоке <b>«Верификация»</b> загрузите указанные документы (<b>«Главная страница паспорта»</b>, <b>«Страница паспорта с пропиской»</b>, <b>«Селфи с паспортом»</b>). Все фото должны быть хорошего качества. Все данные в документе должны
                                        легко читаться. На них должны быть хорошо видны и Вы, и ваш документ. Нажмите кнопку <b>«Отправить»</b>. Отправка возможно только после выбора всех файлов. Доступные
                                        форматы для загрузки: jpg, png, pdf. Максимальный размер загружаемого файла 2мб. Обработка документов может длиться от 1 до 10 рабочих дней. Если пользователь верифицирован, то ему присваивается статус <b>«Верифицирован»</b>.
                                        Если файлы отправлены, но еще не проверены, то статус <b>«На проверке»</b>.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Если Вы забыли или потеряли пароль для входа в личный кабинет?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        При входе в личный кабинет есть ссылка <b>«Восстановить доступ»</b>. Нажмите на нее, введите свой адрес электронной почты, указанный при регистрации, и Вам будет выслана инструкция по восстановлению пароля
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="answer-block-2 answer-block">
                        <p class="caption">Инвестиционная программа</p>
                        <ul>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Как инвестировать криптографические активы в Way to Wealth?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        <b>Регистрация на сайте платформы возможна тремя способам</b>
                                    </p>
                                    <ol>
                                        <li>
                                            Для того что бы начать инвестировать Вам необходимо перейти в раздел Инвестиции и определиться какой Инвестиционный пакет Вам подходит – <a style="color: #a67900; text-decoration: underline;" href="@Url.Action("investments", "home")">Инвестиционные пакеты</a>.
                                        </li>
                                        <li>
                                            <b>Шаг 1:</b> Пополните лицевой счет в личном кабинете.
                                        </li>
                                        <li>
                                            <b>Шаг 2:</b> Выберите подходящий для вас инвестиционный пакет, установить срок инвестиции и нажать Инвестировать. 
                                        </li>
                                        <li>
                                            <b>Шаг 3:</b> После того, как Вы оплатили пакет, со следующего дня Ваша инвестиция начинает работать. В среднем процедура активации инвестиционного пакета занимает 1 день. 
                                        </li>
                                        <li>
                                            <b>Шаг 4:</b> Получайте прибыль на Ваш персональный счет.
                                        </li>
                                    </ol>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Какой min/max размер инвестиции?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        Приобретая любой из существующих пакетов, вы имеете возможность увеличивать его стоимость кратно 500$ для пакетов Base и Optimal. Для пакета Profi кратность суммы составляет 1000 $. Пример:
                                    </p>
                                    <ol>
                                        <li>
                                            <b>«Базовый пакет»</b>: 1000$;1500$; 2000$; 2500;3000$; 3500$; 4000$; 4500$.
                                        </li>
                                        <li>
                                            <b>«Оптимальный пакет»</b>: 5000$; 5500$; 6000$; 6500$; 7000$; 7500$; 8000$; 8500$; 9000$; 9500$
                                        </li>
                                        <li>
                                            <b>«Профессиональный пакет»</b>: 10000$; 11000$ и так далее до 100.000$;
                                        </li>
                                    </ol>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Какой срок работают инвестиции?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        Компания имеет три вида инвестиционных пакетов сроком действия 365 дней с возможностью пролонгации. По истечению срока действия пакета Вы можете вывести с платформы тело своей инвестиции.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Сколько инвестиционных пакетов можно приобрести?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        Платформа дает возможность открыть только один инвестиционный пакет, но Вы можете в любой момент повысить свою инвестицию путем приобретения одного из представленных инвестиционных пакетов и объединять их с уже существующим пакетом, для получения более
                                        выгодных условий.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Как происходит начисления прибыли?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        Начисления процентов на приобретенные Инвестиционные пакеты происходит ежедневно. Уже спустя первый месяц после открытия инвестиционной программы, Вы каждую неделю можете снимать начисленные Вам дивиденды.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="answer-block-3 answer-block">
                        <p class="caption">Пополнение/Вывод/Перевод средств</p>
                        <ul>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Как пополнить счёт Way to Wealth?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        После того как Вы зарегистрировали личный кабинет, Вы можете выбрать удобный для Вас способ пополнения счета с использованием следующих криптовалют: Bitcoin, Litecoin , Ethereum, BitcoinCash, Ripple
                                    </p>
                                    <ol>
                                        <li>
                                            <b>Шаг 1:</b> В личном кабинете перейдите в меню <b>«Денежные средства»</b> и ниже выберите пункт <b>«Пополнить счет»</b>.
                                        </li>
                                        <li>
                                            <b>Шаг 2:</b> Укажите желаемую сумму (в долларах) и удобную для Вас криптовалюту для пополнения счета. Платформа автоматически рассчитает на основании текущего курса сумму в выбранной вами криптовалюте
                                        </li>
                                        <li>
                                            <b>Шаг 3:</b> Далее Вам будет предложен адрес одноразового кошелька (1. публичный криптографический ключ 2. QR-код) с ограниченным по времени действием в 15 минут.
                                            <br/><br/>
                                            <b>*Обратите Внимание! Криптовалютный адрес, предоставленный вам системой для пополнения, можно использовать только один раз! Каждое новое пополнение осуществляется на вновь сгенерированный кошелек.</b>
                                        </li>
                                        <li>
                                            <b>Шаг 4:</b> Вы копируете этот адрес для осуществления транзакции криптовалюты со своего личного кошелька или стороннего платежного сервиса, не относящегося к платформе Way to Wealth.
                                        </li>
                                    </ol>
                                    <b>*Просьба переводить одной транзакцией в точности такую сумму, как показано. </b>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Сколько времени занимает пополнение баланса Вашего кошелька?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        Время подтверждения транзакции (при идеальной ситуации) составляет до 20 минут (при включении в два блока) и 60 минут (если операция добавляется в шесть элементов сети). Но с ростом нагрузки на сеть количество проведённых сделок превышает объём блока,
                                        что приводит к задержке переводов в bloсkchain сети. Время проведения небольших транзакций с минимальной комиссией может затягиваться на 5–6 и более часов.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Могу ли я осуществлять переводы средств внутри компании своим партнерам?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        Да, платформа предусматривает финансовые отношения между партнерами/клиентами и дает возможность Вам принимать и отправлять средства:
                                    </p>
                                    <ol>
                                        <li>
                                            1) В личном кабинете перейдите в меню <b>«Денежные средства»</b>, подменю <b>«Перевод средств»</b>.
                                        </li>
                                        <li>
                                            2) Далее нажимаете кнопку <b>«Партнеру», после чего требуется указать логин или IDпартнера</b>.
                                        </li>
                                        <li>
                                            3) Введите требуемую сумму
                                        </li>
                                        <li>
                                            4) Запросите финансовый пароль, нажав на кнопку <b>«Получить пароль»</b>. После нажатия появится статус: <b>«На ваш email отправлен пароль для совершения операции»</b>. Получить пароль повторно можно только через
                                            5 мин. Укажите полученный на электронную почту пароль.
                                        </li>
                                        <li>
                                            5) Нажимаете на кнопку <b>«Перевести»</b>. После нажатия средства списываются со счета (создается <b>«Заявка на вывод средств»</b>),
                                        </li>
                                        <li>
                                            6) Пользователь попадает на страницу <b>«История операций»</b> по выбранному счету. Также выводится уведомление о том, что сформирована заявка на вывод и что средства поступят после проверки заявки администратором.
                                        </li>
                                    </ol>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Какая комиссия за пополнение и вывод средств?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        Для пополнения и вывода средств со счета любым удобным для Вас способом платформа не взимает комиссии, но сторонний отправитель может взимать комиссию при отправке средств. Пожалуйста, уточняйте о возможных комиссиях при отправлении платежа. В случае
                                        пополнения через криптовалютные обменники учитывайте их собственные тарифы. Перед проведением операции ознакомьтесь с тарифным планом и условиями обмена конкретного обменника. Учитывайте волатильность курса.
                                    </p>
                                    <p>
                                        При пополнении вашего счета с помощью криптовалюты в нашей системе используется собственный курс, который всегда можно увидеть в личном кабинете во вкладке
                                        <b>«Денежные средства» => «Пополнить счет» либо => «Вывод средств».</b>
                                    </p>
                                    <b>*Курсы криптовалют назначаются по средневзвешенному значению на покупку/продажу среди крупных бирж BTC/USD, LTC/USD, ETH/USD, BCH/USD, XRP/USD).</b>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Что мне делать если я осуществил пополнение баланса, а средства не зачислились?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <ol>
                                        <li>
                                            <b>Шаг 1.</b> Убедитесь, что нормативные сроки для зачисления средств уже прошли. 
                                        </li>
                                        <li>
                                            <b>Шаг 2.</b> Напишите письмо с комментариями в техническую поддержку платформы <a style="color: #a67900; text-decoration: underline;" href="mailto:support@w2w.fund">support@w2w.fund</a> , что перевод не поступил на счет, указав при этом Ваш логин(email), способ оплаты, дату,
                                            сумму, валюту и хеш транзакции.
                                        </li>
                                        <li>
                                            <b>Шаг 3.</b> Ожидайте ответа. Администрация платформы ответит Вам в течение одного рабочего дня.
                                        </li>
                                    </ol>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Как осуществляется вывод средств?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        Средства можно выводить один раз в неделю спустя первый месяц после приобретения инвестиционной программы. Вывод доступен с лицевого счета.
                                    </p>
                                    <b>

                                        *Вывод средств осуществляется на тот же адрес криптокошелька с которого и было пополнение лицевого счета.

                                    </b>
                                    <ol>
                                        <li>
                                            В личном кабинете в меню слева перейдите в меню <b>«Денежные средства»</b>, подменю <b>«Вывод средств» </b>
                                        </li>
                                        <li>
                                            Укажите сумму для вывода
                                        </li>
                                        <li>
                                            В выпадающем списке <b>«Валюта»</b> выберите требуемую валюту вашего криптокошелька. После выбора, происходит конвертация, указанной Вами суммы по текущему курсу и показывается сумма в выбранной валюте, которая
                                            поступит Вам.
                                        </li>
                                        <li>
                                            Укажите адрес вашего кошелька.
                                        </li>
                                        <li>
                                            Запросите финансовый пароль, нажав на кнопку <b>«Получить пароль»</b>. После нажатия появится статус: <b>«На ваш email отправлен пароль для совершения операции»</b>. Получить пароль повторно можно только через 5 мин. Укажите полученный на электронную почту пароль.
                                        </li>
                                        <li>
                                            Нажимаете на кнопку <b>«Перевести»</b>. После нажатия средства списываются со счета (создается <b>«Заявка на вывод средств»</b>)
                                        </li>
                                        <li>
                                            Пользователь попадает на страницу <b>«История операций»</b> по выбранному счету. Также выводится уведомление о том, что сформирована заявка на вывод и что средства поступят после проверки заявки Администрацией платформы.
                                        </li>
                                    </ol>
                                    <b>

                                        *В целях безопастности любые операции связанные с Переводом/Пополнением/Выводом/ средств инициируются только через <b>«финансовый пароль»</b>

                                    </b>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="answer-block-4 answer-block">
                        <p class="caption">Партнерам</p>
                        <ul>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Как работает партнерская программа Way to Wealth?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        В основе продвижения платформы лежит MLM модель бизнеса и реализуется она по трем программам:
                                    </p>
                                    <ol>
                                        <li>
                                            <b>«Реферальная программа»</b>
                                        </li>
                                        <li>
                                            <b>«Накопительная программа»</b>
                                        </li>
                                        <li>
                                            <b>«Программа Пассивного дохода»</b>
                                        </li>
                                    </ol>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Можно ли начать работать в компании без собственного инвестиционного пакета?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        Да можно, платформа предусматривает и дает возможность тем, кто на сегодняшний день хочет реализовать себя в роли инвестора, но не имеет достаточно средств, чтобы приобрести один из инвестиционных пакетов, может приобрести себе <b>«Накопительный пакет»</b> за
                                        минимальную сумму в 300$, который предоставит ему возможность стать Партнером Way to Wealth и заработать себе собственный инвестиционный пакет!
                                    </p>
                                    <b>*Партнеры  Way to Wealth имеют возможность зарабатывать не только с собственных инвестиций, но и с  инвестиций, которые были сделаны по их рекомендации (Своих рефералов).</b>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Где можно взять свою реферальную ссылку (ID пригласителя)?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        В личном кабинете в меню слева перейдите во вкладку <b>«Рабочий стол»</b> далее справа от аватарки находится Ваша реферальная ссылка и номер ID в системе.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/faq-icon-q.png" alt="">
                                <a class="answer-open">Как осуществить просмотр своих рефералов?</a>
                                <div class="answer">
                                    <img src="~/Content/img/faq-icon-a.png" alt="">
                                    <p>
                                        В личном кабинете в меню слева перейдите во вкладку <b>«Структура»</b> далее в выпадающем меню выбираете <b>«Мои партнеры»</b>, если вы хотите просмотреть глубину структуры то выбираете <b>«Структура»</b> = > <b>«Просмотр дерева»</b> =>
                                        в левом верхнем углу нажмите кнопку <b>«Развернуть всю структуру»</b>.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p>
                        <b>
                            Уважаемый партнёр/клиент, если Вы не нашли ответ на свой вопрос в FAQ - Way to Wealth вы можете обратиться за помощью в чат технической поддержки (в правом нижнем углу сайта) либо написать письмо в администрацию сайта <a style="color: #a67900; text-decoration: underline;" href="mailto:support@w2w.fund">support@w2w.fund</a>.
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>