@{
    ViewBag.Title = "Faq";
}

<div class="faq-page">
    <div class="inner-page-top" style="background-image: url(/Content/img/inner-page-top-faq.jpg)">
        <div class="container">
            <h2>FAQ</h2>
        </div>
    </div>
    <div class="bread">
        <div class="container">
            <a href="/">Home page</a>
            <i>/</i>
            <span>FAQ</span>
        </div>
    </div>
    <div class="faq-wrap">
        <div class="container">
            <h3 class="section-title">Account registration / personal account</h3>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    How to register an account (with / without a referral link) on the platform website and get access to your personal account?
                </h4>
                <div style="display: block;">
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        <b>Registration on the platform website is possible in three ways:</b>
                    </p>
                    <ol>
                        <li>
                            1. Registration by referral link on the platform website is carried out by clicking on the link received from the Partner.  You do not need to register the Partner’s ID or login, the system will automatically register it in the appropriate field on the registration form.
                        </li>
                        <li>
                            2. Self-registration on the platform's website using the credentials of the Partner who invited you.  You need to get in advance from the partner who told about the platform the Partner’s ID or Login, and when filling in the registration card, indicate the data received in the corresponding field on the registration form.
                        </li>
                        <li>
                            3. Registration through the personal account of the current partner.

                        </li>
                    </ol>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    Registration processing:
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        In the browser address bar, you need to enter the referral link of the partner who invited you, or a direct link to the platform website.
                    </p>
                    <p>
                        On the main page of the site in the upper right corner, click <b>register</b>
                    </p>
                    <p>
                        In the registration form offered to you to fill in:
                    </p>
                    <ol>
                        <li>
                            <b>Step 1.</b> Last Name, First Name
</li>
                        <li>
                            <b>Step 2.</b> indicate your valid email
</li>
                        <li>
                            <b>Step 3.</b> specify the login (by default, you can leave your email. The minimum length of 4 characters. (Valid characters: Latin letters, underscores, numbers)

</li>
                        <li>
                            <b>Step 4.</b> enter the password (minimum length 6 characters. Latin + the presence of a capital letter and number)
</li>
                        <li>
                            <b>Step 5.</b> Repeat password
</li>
                        <li>
                            <b>Step 6.</b> Next, click the "Register" button. An email address you specified within 5-10 minutes will be sent a letter with a link to confirm registration.  You need to follow this link and complete the registration.  If you have not received the letter, then you should check the Spam folder.  In the absence of a letter write us a letter to  <a style="color: #a67900; text-decoration: underline;" href="mailto:support@w2w.fund">support@w2w.fund</a>
</li>
                        <li>
                            <b>Step 7.</b> Enter your login (email) and password, click <b>Login</b>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    Can I register multiple accounts?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        We are against the deliberate creation of two or more personal accounts, drawn up on the same personal data.  If you want to increase your investment, then you can at any time purchase one of the presented investment packages in your existing personal account and receive more favorable conditions.

                    </p>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    Verification
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        Verification of accounts on the Way to Wealth platform is required.  It is necessary to comply with international standards KYC (Know Your Client).  The requirement is part of an extensive program to combat illegal activities - money laundering and the financing of terrorism, as well as in case of detection of fraud against the Way to Wealth platform.
                    </p>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    How to verify your account?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        In the personal account, open the <b>Profile</b> menu and upload the specified documents (<b>“Passport Main Page”, “Passport Page with Registration”, “Selfie with a Passport” in the “Verification” block</b>).  All photos must be of good quality.  All data in the document should be easy to read.  You and your document should be clearly visible on them.  Click the <b>Submit</b> button.  Sending is possible only after selecting all files.  Available download formats: jpg, png, pdf.  Maximum downloadable file size is 2mb.  Document processing can take from 1 to 10 business days.  If the user is verified, then he is assigned the status of <b>Verified</b>.  If the files have been sent but not yet verified, then the status is <b>Under review</b>.
                    </p>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    If you forgot or lost your password to access your personal account?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        When you log in to your personal account there is a link <b>Restore Access</b>.  Click on it, enter your email address, specified during registration, and you will be sent instructions on how to recover your password.
                    </p>
                </div>
            </div>
            <h3 class="section-title">Investment program</h3>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    How to invest in cryptographic assets in Way to Wealth?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <ol>
                        <li>
                            In order to start investing you need to go to the Investments section and decide which Investment Portfolio is right for you - <a style="color: #a67900; text-decoration: underline;" href="@Url.Action("investments", "home")">
    Investment Portfolios</a>.
                        </li>
                        <li>
                            <b>Step 1:</b> Top up your personal account in your account.
                        </li>
                        <li>
                            <b>Step 2:</b> Select the appropriate investment portfolio for you.
                        </li>
                        <li>
                            <b>Step 3:</b> After you have paid for the portfolio, from the next day your investment begins to work.  On average, the process of activating an investment portfolio takes 1 day.
                        </li>
                        <li>
                            <b>Step 4:</b> Get profit on your personal account.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    What is the min / max investment size?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        By purchasing any of the existing portfolios, you have the opportunity to increase its value.
                    </p>
                    <ol>
                        <li>
                            <b>Portfolio «Start»</b>: $100.
                        </li>
                        <li>
                            <b>Portfolio «Partner»</b>: $500.
                        </li>
                        <li>
                            <b>Portfolio «Invest»</b>: $1000.
                        </li>
                        <li>
                            <b>Portfolio «Invest 3»</b>: $3000.
                        </li>
                        <li>
                            <b>Portfolio «Invest 5»</b>: $5000.
                        </li>
                        <li>
                            <b>Portfolio «Invest 7»</b>: $7000.
                        </li>
                        <li>
                            <b>Portfolio «Invest 10»*</b>: $10000.
                        </li>
                    </ol>
                    <p>
                        * When owning the Invest 10 portfolio, two additional are available: Invest 15 of $ 15,000 and Invest 20 of $ 20,000
                    </p>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    How long does the investment work?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        The company has all investment portfolios valid for 365 days with the possibility of prolongation.

                    </p>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    How many investment portfolios can I buy?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        The platform allows you to open one investment portfolio in one personal account, but you cannot purchase two identical portfolios with the same value except for “Invest 10”*.
                    </p>
                    <p>
                        *Invest 10 portfolio allows you to purchase one more of the three maximum portfolios: Invest 10, Invest 15, Invest 20
                    </p>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    How is the accrual of profits?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        Interest accruals on acquired investment portfolios occur five days a week.  Seven days after the opening of the investment program, every week you can withdraw the dividends accrued to you. *
                    </p>
                    <p>
                        <b>* The minimum amount for withdrawal in a single transaction is $100</b>
                    </p>
                </div>
            </div>
            <h3 class="section-title">Deposit / Withdraw / Transfer of Funds</h3>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    How to top up your Way to Wealth account?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        After you have registered your personal account, you can choose a convenient way for you to replenish your account using the following cryptocurrencies: Bitcoin, Litecoin, Ethereum, BitcoinCash, Ripple
                    </p>
                    <ol>
                        <li>
                            <b>Step 1:</b> In your personal account, go to the <b>Cash</b> menu and select <b>Deposit funds</b> below.
                        </li>
                        <li>
                            <b>Step 2:</b> Enter the desired amount (in dollars) and a cryptocurrency convenient for you to replenish the account.  The platform will automatically calculate the amount in the chosen cryptocurrency based on the current rate
                        </li>
                        <li>
                            <b>Step 3:</b> Enter the desired amount (in dollars) and a cryptocurrency convenient for you to replenish the account.  The platform will automatically calculate the amount in the chosen cryptocurrency based on the current rate
                            <br /><br />
                                  <b>*Note!  The cryptocurrency address provided by the system for replenishment can only be used once!  Each new replenishment is carried out on the newly generated wallet.</b>
                        </li>
                        <li>
                            <b>Step 4:</b> You copy this address to make a cryptocurrency transaction from your personal wallet or third-party payment service not related to the Way to Wealth platform.
                        </li>
                    </ol>
                    <b>* It is necessary to transfer exactly the same amount in one transaction as shown by the platform with all commissions taken into account.</b>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    How long does it take to top up your wallet?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        The transaction confirmation time (in the ideal situation) is up to 2 minutes (when turned on in two blocks) and 60 minutes (if the operation is added to six network elements).  But with the growing load on the network, the number of completed transactions exceeds the block volume, which leads to a delay in transfers to the bloxchain network.  The time for small transactions with a minimum commission can take 5-6 hours or more.
                    </p>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    Can I transfer funds within the company to my partners?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        Yes, the platform provides for financial relations between partners / customers and enables you to receive and send funds:
                    </p>
                    <ol>
                        <li>
                            <b>Step 1.</b> In your personal area, go to the <b>Cash</b> menu, the <b>Transfer funds</b> submenu.

</li>
                        <li>
                            <b>Step 2.</b> Next, click the <b>Partner button, then you need to specify a login or ID partner.</b>
</li>
                        <li>
                            <b>Step 3.</b> Enter the required amount
</li>
                        <li>
                            <b>Step 4.</b> Request a financial password by clicking on the <b>Get Password</b> button.  After clicking, the status will appear: <b>“A password has been sent to your email to perform the operation”</b>.  It is possible to get the password again only after 5 minutes.  Specify the password received by e-mail.
</li>
                        <li>
                            <b>Step 5.</b> Click on the <b>Translate</b> button.  After clicking the funds are withdrawn from the account (a <b>"Request for withdrawal of funds"</b> is created).
</li>
                        <li>
                            <b>Step 6.</b> The user is taken to the <b>“Transaction History”</b> page for the selected account.  It also displays a notification that a request for withdrawal has been formed and that the funds will arrive after the application has been verified by the administrator.
</li>
                    </ol>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    What is the fee for depositing and withdrawing funds?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        For depositing and withdrawing funds from the account in any way convenient for you, the platform does not charge a commission, but the third-party sender may charge a fee when sending funds.  Please check the possible fees when sending a payment.  In the case of replenishment through cryptocurrency exchangers, consider their own rates.  Before carrying out the operation, familiarize yourself with the tariff plan and terms of exchange of a specific exchanger.  Take into account the volatility of the course.
                    </p>
                    <p>
                        When replenishing your account using cryptocurrency, our system uses its own rate, which can always be seen in the personal account in the tab <b>
                            “Cash” => “Deposit funds” or => “Withdrawals”
                        </b>.
                    </p>
                    <b>*Cryptocurrency rates are assigned at weighted average for the purchase / sale of large exchanges BTC / USD, LTC / USD, ETH / USD, BCH / USD, XRP / USD).</b>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    What should I do if I replenished the balance, and the funds were not credited?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <ol>
                        <li>
                            <b>Step 1.</b> Make sure that the regulatory deadlines for depositing funds have already passed.
                        </li>
                        <li>
                            <b>Step 2.</b> Write a letter with comments to the platform’s technical support <a style="color: #a67900; text-decoration: underline;" href="mailto:support@w2w.fund">support@w2w.fund</a>,  that the transfer has not been credited to your account, indicating your login (email), payment method, date, amount, currency and transaction hash.
                        </li>
                        <li>
                            <b>Step 3.</b> Wait for a response.  The administration of the platform will respond to you within one working day.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    How is the withdrawal of funds?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        Funds can be withdrawn once a week seven days after the acquisition of the investment program.  The withdrawal is available from the personal account from $ 100.
                    </p>
                    <b>

                        * Withdrawal of funds is carried out on the crypto wallet that was entered and saved by you in your personal account in the “Profile” section.

                    </b>
                    <ol>
                        <li>
                            <b>Step 1.</b> In your personal account in the left menu, go to the <b>"Cash" section, => "Withdrawing funds"</b>
                        </li>
                        <li>
                            <b>Step 2.</b>  Specify the amount to withdraw.
</li>
                        <li>
                            <b>Step 3.</b> In the <b>"Currency"</b> drop-down list, select the currency of your crypto wallet.  After the selection, the amount specified by you is converted at the current exchange rate and the amount in the selected currency is shown to you.
                        </li>
                        <li>
                            <b>Step 4.</b> Enter the address of your wallet.

</li>
                        <li>
                            <b>Step 5.</b> Request a financial password by clicking on the <b>“Get Password”</b> button.  After clicking, the status will appear: <b>“A password has been sent to your email to perform the operation”</b>.  You can re-request the password only after 5 minutes.  Specify the password received by e-mail.

                        </li>
                        <li>
                            <b>Step 6.</b> Click on the <b>"Translate"</b> button.  After clicking the funds are withdrawn from the account (a <b>"request for withdrawal of funds"</b> is created)

                        </li>
                        <li>
                            <b>Step 7.</b> The user enters the <b>“Operations History”</b> page for the selected account.  A notification is also displayed that an application for withdrawal has been formed and funds will be received after the application has been verified by the Finance Department.

                        </li>
                    </ol>
                    <b>
                        *For security purposes, any operations related to Transfer / Deposit / Withdrawal / funds are initiated only through the “financial password”
                    </b>
                </div>
            </div>
            <h3 class="section-title">For partners</h3>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    How does the Way to Wealth Affiliate Program work?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        The platform’s promotion is based on the MLM business model and is implemented in three programs:
                    </p>
                    <ol>
                        <li>
                            <b>«Referral program»</b>
                        </li>
                        <li>
                            <b>«Binary program»</b>
                        </li>
                        <li>
                            <b>«Passive Income Program»</b>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    Can I start working in a company without my own investment portfolio?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        Yes, you can, the platform provides and allows those who today want to realize themselves as an investor, but do not have enough money to acquire one of the investment portfolios, can acquire a <b>“Start portfolio”</b> for a minimum amount of $ 100, which will provide  he has the opportunity to become a Way to Wealth Partner and earn his own investment portfolio using an affiliate program.
                    </p>
                    
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    Where can I get my referral link (inviter ID)?

                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        In your personal account in the menu on the left, go to the “Desktop” tab, then on the right is your referral link and ID number in the system.
                    </p>
                </div>
            </div>
            <div class="faq-block animated">
                <h4>
                    <i class="ion-ios-help-circle-outline"></i>
                    How to view your referrals?
                </h4>
                <div>
                    <i class="ion-ios-information-circle-outline"></i>
                    <p>
                        In the personal account in the menu on the left, go to the <b>"Structure"</b> tab, then in the drop-down menu select <b>"My partners"</b>, if you want to view the depth of the structure, select <b>"Structure" => "View tree" => in the upper left corner click the "Expand all  structure"</b>.
                    </p>
                </div>
            </div>
            <p class="faq-more-info">
                <b>
                    Dear partner / client, if you have not found the answer to your question in the FAQ - Way to Wealth, you can contact the technical support chat (in the lower right corner of the site) or write to the site administration <a style="color: #a67900; text-decoration: underline;" href="mailto:support@w2w.fund">support@w2w.fund</a>.
                </b>
            </p>
        </div>
    </div>
</div>