@{
    ViewBag.Title = "Partnership";
}

<div class="partnership-page">
    <div class="partnership-0">
        <div>
            <p class="page-title">
                <span data-text="Partnership">Partnership</span>
            </p>
            <div class="bread">
                <a href="/">Home page</a>
                <i>/</i>
                <a>Partnership</a>
            </div>
        </div>
    </div>
    <div class="partnership-1">
        <div>
            <p class="desc">
                Partnership is one of key elements of development of the Way to Wealth Platform. Our culture is defined by integrity of team, discipline and respect. We look for members of the team who show such qualities, and can make the contribution and skills in development of the Way to Wealth Platform. Our Platform is intended for creation of the long-term relations with the partners, accepting an active sympathetic role in consultation and the help in their daily operational and strategic decisions.
            </p>
        </div>
    </div>
    <div class="partnership-1_2">
        <div>
            <p class="subtitle">Partner programs and Plan of payments</p>
            <p class="desc">
                The Way to Wealth programs are the unique plan of payments for each Partner allowing to create to itself transparent passive income which is easy for predicting and counting.
            </p>
            <p class="desc">
                To become the Partner, it is necessary to acquire to itself one of investment packages.
            </p>
        </div>
    </div>
    <div class="partnership-1_3">
        <div>
            <div class="wrap-flex">
                <p class="subtitle">
                    <span data-text="Investment program">Investment program</span>
                </p>
                <div class="flex">
                    <img src="~/Content/img/bitcoin-logo.png" alt="">
                    <p>
                        In a line of investment solutions of the Way to Wealth Platform there are three types of investment packages of the different level of
                        profitability which period of validity makes 365 days with a possibility of prolongation are offered at choice! After acquisition of one of
                        investment packages you automatically receive the place in <a href="#partnership-3" class="partnership_anchor1"><span>Accumulative partner program.</span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="partnership-2">
        <p class="subtitle">
            <span data-text="Referral program">Referral program</span>
        </p>
        <div class="wrap-flex">
            <div class="flex">
                <p>
                    When according to your personal reference the person acquires any of Investment packages, it becomes your referral and to you Reward from the Platform ("Instant reward") of 10% of cost of the acquired package is once charged. Then next day you receive it into the account available to a conclusion!
                </p>
                <img src="~/Content/img/partnership_3_en.png" alt="">
            </div>
        </div>
    </div>
    <div id="partnership-3" class="partnership-3">
        <div>
            <p class="subtitle">Accumulative program</p>
            <div class="wrap-flex">
                <div class="flex">
                    <img src="~/Content/img/partnership_4.png" alt="">
                    <p class="pl135">
                        For those who want to realize themselves as the investor today, but hasn’t got enough means to acquire one of investment packages, can get to 
                        itself <b>"An accumulative package"</b> for the minimum sum of $300 which will give him an opportunity to become the partner of Way to Wealth 
                        Platform and to earn himself own investment package! Partners of Way to Wealth have an opportunity to earn not only from own investments, 
                        but also from investments which have been made according to their recommendation (own referrals).
                    </p>
                </div>
            </div>
            <a class="page-link open-partnership-1"><span data-text="Details">Details</span></a>
            <a class="hide-block hide-partnership-1">
                <img src="~/Content/img/hide.png" alt="">
            </a>
        </div>
    </div>
    <div class="partnership-4">
        <div>
            <p class="desc">
                All partners, regardless, from what investment package is bought or at acquisition of directly accumulative package, receive a position in the Accumulative Way to Wealth program! All partners receive the special reference for attraction of the referrals.
            </p>
            <p class="desc">
                The binary structure with continuous filling has 62 positions in five levels and is built from top to down, from left to right.
            </p>
            <div class="wrap-flex">
                <div class="flex">
                    <img src="~/Content/img/partnership_5en.png" alt="">
                    <p>
                        Referrals rise in the next empty seat under your position. 
                        Filling of your Five levels happens due to collective efforts, including higher placed in structure partners, your own and your partner’s efforts.
                        <br/>
                        After filling of <b>5 levels</b> the Accumulative program gives the chance to the participant who even hasn't invited any referral to receive as a 
                        gift the Investment package <b>$1000!</b> This package gives an opportunity to gain the same income within 365 days as well as acquired personally. 
                        After the specified term the sum of <b>$1000</b>, together with income on it, can be removed.
                    </p>
                </div>
            </div>
            <p class="partner-active">
                Extra reward for attraction of referrals
            </p>
        </div>
    </div>
    <div class="partnership-5">
        <div>
            <div class="swiper-container swiper-partnership">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_6.png" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                Having invited one referral besides <b>"Referral reward"</b> you receive from two levels of the Accumulative program, i.e. 
                                from six places under you. Each place brings <b>$50</b>. Total it is gained by <b>6 х $50 = $300</b> income which in process 
                                of filling at once become available to you for a conclusion. Also on filling of <b>5 levels</b> you receive as a gift 
                                the Investment package in <b>$1000</b>.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_6-2.png" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                Having invited two Partners besides <b>"Referral reward"</b> you receive from three levels of the Accumulative program, i.e. 
                                from fourteen places under you. Each place brings <b>$50</b>.
                                Total it is gained by <b>14 х $50 = $700</b> income which in process of filling at once become available to you for a conclusion. 
                                Also on filling of <b>5 levels</b> you receive as a gift the Investment package in <b>$1000!</b>

                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_6-3.png" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                Having invited three Partners besides <b>"Referral remuneration"</b>. You receive from five levels of the Accumulative program, 
                                namely from 57 places under you. Each place brings <b>$50</b>.
                                Total <b>57 x $50 = $2850</b> income which in process of filling at once become available to you for a conclusion turn out.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_6-4.png" class="h60" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                Cyclic accumulative bonus
                                <br />
                                When filling the last five places in the fifth level, income from each place in <b>$50</b> (in the sum <b>5 х $50 = $250</b> turn out) goes 
                                for renewal of your possibility of receiving an accumulative bonus in <b>$50</b> according to the accumulative program in <b>5 levels</b>, 
                                at similar corresponding achievement of Partners in your binary structure.
                                At Partners who have invited up to three Partners renewal of participation in the Accumulative program is carried out automatically. 
                                This mechanism, allows you on a constant basis, every time to receive bonuses according to the Accumulative program, but already in 
                                shorter periods!
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_6-5.png" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                The partner personally invited four referrals and for each subsequent fourth invitation (the eighth, twelfth and so on), has an opportunity, getting an additional Investment package to receive to itself one more place in the Accumulative program. This place will be located in the next free position under your main place that will allow you to raise considerably your income in the Accumulative program!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <a class="hide-block hide-partnership-1">
            <img src="~/Content/img/hide.png" alt="">
        </a>
    </div>
    <div id="partnership-6" class="partnership-6">
        <div>
            <p class="subtitle">
                <span data-text="Program of passive income">Program of passive income</span>
            </p>
            <div class="wrap-flex">
                <div class="flex">
                    <p>
                        Each Active Partner participates in the Program of Passive income and receives depending on the executed qualification, 10% of Investment income of the structure constructed under him. The structure is stood from your personally invited and also people who have come according to the recommendation of your Partners.
                    </p>
                    <img src="~/Content/img/partnership_7.png" alt="">
                </div>
            </div>
            <a class="hide-block hide-partnership-2">
                <img src="~/Content/img/hide.png" alt="">
            </a>
            <a class="page-link open-partnership-2"><span data-text="Details">Details</span></a>
        </div>
    </div>
    <div class="partnership-7">
        <div>
            <p class="subtitle">Participants are built in Linear structure as follows:</p>
            <img src="~/Content/img/partnership_8en.png" alt="">
        </div>
    </div>
    <div class="partnership-8">
        <div>
            <p class="subtitle">
                <span data-text="Analyze an example:">Analyze an example:</span>
            </p>
            <div class="desc">
                <p>
                    You have personally invited three people who have bought Investment packages for $1000, $5000 and $10000.
                </p>
                <p>
                    From the Package in $1000 your invited receives 2,5% in a month, it is = $25. Your income of 10% of 25$ = $2,5.
                </p>
                <p>
                    From the Package in $5000 your invited receives 3,5% in a month, it is = $175. Your income of 10% of $175 = $17,5.
                </p>
                <p>
                    From the Package in $10000 your invited receives 4% in a month, it is = $400. Your income of 10% of $400 = $40.
                </p>
                <p>
                    Total income from your first line makes: $2,5 +$17,5 +$40 =60$.
                </p>
                <p>
                    By the same principle income on other lines pays off.
                </p>
            </div>
            <p class="partner-active">
                Income on lines is summarized and every week Is charged into your account!
            </p>
        </div>
    </div>
    <div class="partnership-9">
        <div>
            <p class="subtitle">
                Active Partners have five qualifications and receive according to the program of "Passive income" depending of the received qualification:
            </p>
            <table>
                <tr>
                    <th>
                        <p class="caption">
                            <span data-text="Qualification">Qualification</span>
                        </p>
                    </th>
                    <th>
                        <p class="caption">
                            <span data-text="Volume of the first line + own">Volume of the first line + own</span>
                        </p>
                    </th>
                    <th>
                        <p class="caption">
                            <span data-text="Number of levels, from">Number of levels, from</span>
                        </p>
                        <p class="caption">
                            <span data-text="which receives 10%">which receives 10%</span>
                        </p>
                    </th>
                </tr>
                <tr>
                    <td>Junior partner</td>
                    <td>1000$</td>
                    <td>two</td>
                </tr>
                <tr>
                    <td>Partner</td>
                    <td>15000$</td>
                    <td>three</td>
                </tr>
                <tr>
                    <td>Senior partner</td>
                    <td>35000$</td>
                    <td>four</td>
                </tr>
                <tr>
                    <td>Leading partner</td>
                    <td>65000$</td>
                    <td>five</td>
                </tr>
                <tr>
                    <td>Prime partner</td>
                    <td>100000$</td>
                    <td>six</td>
                </tr>
            </table>
            <p class="desc">
                Plus from unlimited number of the levels "Prime Partner" which has three personally invited "Prime Partner", receives 5% a differential bonus of infinity. I.e. if under him there is a partner (not important in what level) receiving this bonus, then from its structure higher doesn't receive!
            </p>
        </div>
    </div>
    <div class="partnership-10">
        <div>
            <p class="subtitle">
                <span data-text="Infinity bonus">Infinity bonus</span>
            </p>
            <div class="swiper-container swiper-partnership2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_9.png" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                "Prime partner" that has four personally invited partners of "Prime partners" receives <i>6%</i> a differential bonus of infinity. 
                                That is if under him (it isn't important in what level) there is a partner receiving this bonus of <i>6%</i> and above, then from 
                                its structure higher doesn't receive this bonus! And from structure of the partner receiving <i>5%</i>, he receives <i>1%</i>!
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_9-2.png" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                "Prime partner" at which is five personally invited in qualification "Prime partner " receives <i>8%</i> a differential bonus of infinity.
                                That is if under him there is a partner (not important in what level) receiving this bonus of <i>8%</i> and above, then from its structure
                                higher this bonus doesn't receive! And from structure of the partner receiving <i>6%</i> he receives <i>2%</i>! And from structure of the partner
                                receiving <i>5%</i> he receives <i>3%</i>!
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_9-3.png" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                Prime partner" which has six personally invited in qualification "Prime partner" receives <i>10%</i> a differential bonus of infinity. 
                                I.e. if under him there is a partner (not important in what level) receiving this bonus of <i>10%</i>, then from its structure higher this 
                                bonus doesn't receive! And from structure of the partner receiving <i>8%</i> he receives <i>2%</i>! And from structure of the partner receiving 
                                <i>6%</i> he receives <i>4%</i>! And from structure of the partner receiving <i>5%</i>, he receives <i>5%</i>!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <p class="bonus">
                *The bonus of infinity is paid from all levels and it develops with a bonus of 10% on the first six levels!!!
            </p>
            <a class="hide-block hide-partnership-2">
                <img src="~/Content/img/hide.png" alt="">
            </a>
        </div>
    </div>
</div>