@{
    ViewBag.Title = "Партнерство";
}

<div class="partnership-page">
    <div class="partnership-0">
        <div>
            <p class="page-title">
                <span data-text="Партнерство">Партнерство</span>
            </p>
            <div class="bread">
                <a href="/">Главная</a>
                <i>/</i>
                <a>Партнерство</a>
            </div>
        </div>
    </div>
    <div class="partnership-1">
        <div>
            <p class="desc">
                Партнёрство один из ключевых элементов развития платформы WaytoWealth. Наша культура определяется целостностью команды, дисциплиной и уважением. Мы ищем членов команды, которые демонстрируют такие качества, и могут внести свой вклад и навыки в развитие
                платформы WaytoWealth. Наша платформа предназначена для построения долгосрочных отношений со своими партнёрами, принимая активную отзывчивую роль в консультировании и помощи в их повседневных оперативных и стратегических решениях.
            </p>
        </div>
    </div>
    <div class="partnership-1_2">
        <div>
            <p class="subtitle">Описание Партнерских программ и Плана выплат</p>
            <p class="desc">
                Программы Way to Wealth это  уникальный план выплат для каждого Партнера, позволяющий создать себе прозрачный пассивный доход, который легко спрогнозировать и просчитать.
            </p>
            <p class="desc">
                Чтобы стать Партнером необходимо приобрести себе один из Пакетов компании.
            </p>
        </div>
    </div>
    <div class="partnership-1_3">
        <div>
            <div class="wrap-flex">
                <p class="subtitle">
                    <span data-text="Инвестиционная программа">Инвестиционная программа</span>
                </p>
                <div class="flex">
                    <img src="~/Content/img/bitcoin-logo.png" alt="">
                    <p>
                        Платформа WaytoWealth в линейке своих инвестиционных портфелей предлагает на выбор три вида инвестиционных пакетов с разным уровнем доходности,сроком действия которых составляет 365 дней с возможностью пролонгации! После приобретения одного из инвестиционных
                        пакетов Вы автоматически получаете место в <a href="#partnership-3" class="partnership_anchor1"><span>«накопительной партнерской» программе. </span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="partnership-2">
        <p class="subtitle">
            <span data-text="Реферальная программа">Реферальная программа</span>
        </p>
        <div class="wrap-flex">
            <div class="flex">
                <p>
                    Когда по Вашей личной рекомендации человек приобретает любой из Инвестиционных пакетов, он становится Вашим рефералом и Вам, единоразово, от Платформы начисляется Вознаграждение («Моментальное вознаграждение») в размере 10% от стоимости приобретенного Пакета и уже на следующий день получаете его на свой счет, доступный для вывода!
                </p>
                <img src="~/Content/img/partnership_3.png" alt="">
            </div>
        </div>
    </div>
    <div id="partnership-3" class="partnership-3">
        <div>
            <p class="subtitle">Накопительная программа</p>
            <div class="wrap-flex">
                <div class="flex">
                    <img src="~/Content/img/partnership_4.png" alt="">
                    <p class="pl135">
                        Для тех, кто на сегодняшний день хочет реализовать себя в роли инвестора, но не имеет достаточно средств, чтобы приобрести один из инвестиционных пакетов, может приобрести себе <b>«Накопительный пакет»</b> за минимальную сумму в 300$, который предоставит ему возможность стать Партнером Way to Wealth и заработать себе собственный инвестиционный пакет!
                        Партнеры  Way to Wealth имеют возможность зарабатывать не только с собственных инвестиций, но и с  инвестиций, которые были сделаны по их рекомендации (Своих рефералов).
                    </p>
                </div>
            </div>
            <a class="page-link open-partnership-1"><span data-text="Подробнее">Подробнее</span></a>
            <a class="hide-block hide-partnership-1">
                <img src="~/Content/img/hide.png" alt="">
            </a>
        </div>
    </div>
    <div class="partnership-4">
        <div>
            <p class="desc">
                Все партнёры, вне зависимости, от того, какой инвестиционный пакет куплен или же при приобретении непосредственно накопительного пакета, получают позицию (место) в Накопительной программе Way to Wealth! И получает специальную ссылку для привлечения своих рефералов.
            </p>
            <p class="desc">
                Это бинарная структура со сплошным заполнением имеет 62 позиции в пяти уровнях и выстраивается сверху вниз, слева направо.
            </p>
            <div class="wrap-flex">
                <div class="flex">
                    <img src="~/Content/img/partnership_5.png" alt="">
                    <p>
                        Рефералы встают в ближайшее свободное место под Вашей позицией. Заполнение Ваших Пяти уровней происходит за счет коллективных усилий, включая усилия выше размещённых в структуре партнёров, собственные и усилия ваших рефералов.
                        <br>После заполнения <b>5 уровней</b> Накопительная программа даёт возможность  участнику, даже не пригласившему ни одного реферала, получить в подарок Инвестиционный пакет за <b>$1000!</b> Который даёт возможность получать такой же  доход в течение 365 дней, как и приобретённый лично. По истечении указанного срока эта  сумма <b>($1000)</b>, вместе с доходом по ней, может быть выведена.
                    </p>
                </div>
            </div>
            <p class="partner-active">
                Дополнительное вознаграждение за привлечение рефералов
            </p>
        </div>
    </div>
    <div class="partnership-5">
        <div>
            <div class="swiper-container swiper-partnership">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_6.png" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                Пригласив одного реферала помимо <b>«Реферального вознаграждения»</b>. Вы получаете с двух уровней 
                                Накопительной программы, т.е. с шести мест под Вами. Каждое место приносит по <b>50$</b>.
                                Итого получается <b>6х50$=300$</b> дохода, которые по мере заполнения сразу же становятся доступными 
                                Вам для вывода. Так же по заполнению <b>5 уровней</b> Вы получаете в подарок Инвестиционный пакет в <b>$1000!</b>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_6-2.png" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                Пригласив двух Партнеров помимо <b>«Реферального вознаграждения»</b>. 
                                Вы получаете с трех уровней Накопительной программы, т.е. с четырнадцати мест под Вами. 
                                Каждое место приносит по <b>50$</b>.
                                Итого получается <b>14х50$=700$</b> дохода, которые по мере заполнения сразу же становятся доступными 
                                Вам для вывода. Так же по заполнению <b>5 уровней</b> Вы получаете в подарок Инвестиционный пакет в <b>$1000!</b>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_6-3.png" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                Пригласив трех Партнеров помимо <b>«Реферального вознаграждения»</b>. 
                                Вы получаете с пяти уровней Накопительной программы, а именно с 57 мест под Вами. 
                                Каждое место приносит по <b>50$</b>.
                                Итого получается <b>57х50$=2850$</b> дохода, которые по мере заполнения сразу же становятся доступными Вам для вывода.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_6-4.png" class="h60" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                Циклический накопительный бонус
                                <br/>
                                При заполнении последних пяти мест в пятом уровне, доход с каждого места в <b>50$</b> (в сумме получается <b>5х50$=250$</b>) 
                                направляется на возобновление Вашей возможности получения накопительного бонуса в <b>50$</b> по накопительной программе 
                                в <b>5 уровней</b>, при аналогичном соответствующем достижении Партнеров в Вашей бинарной структуре. 
                                У Партнеров, которые пригласили до трех Партнеров, возобновление участия в Накопительной программе 
                                осуществляется автоматически. Данный механизм, позволяет Вам на постоянной основе, из раза в раз получать бонусы 
                                по Накопительной программе, но уже в более короткие промежутки времени!
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_6-5.png" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                Партнер лично пригласившей четверых рефералов и за каждое последующее четвертое приглашение 
                                (восьмое, двенадцатое и так далее), получает возможность, приобретая дополнительный 
                                Инвестиционный пакет получить себе ещё одно место в Накопительной программе. 
                                Это место будет располагаться в ближайшей свободной позиции под Вашим основным местом. 
                                Что позволит Вам значительно повысить Ваш доход в Накопительной программе!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <a class="hide-block hide-partnership-1">
            <img src="~/Content/img/hide.png" alt="">
        </a>
    </div>
    <div id="partnership-6" class="partnership-6">
        <div>
            <p class="subtitle">
                <span data-text="Программа Пассивного дохода">Программа Пассивного дохода</span>
            </p>
            <div class="wrap-flex">
                <div class="flex">
                    <p>
                        Каждый Активный Партнер участвует в Программе Пассивного дохода и получает в зависимости от выполненной квалификации, по 10% от Инвестиционного дохода  построенной под ним структуры. Структура выстаивается из Ваших лично приглашенных, а также людей, которые пришли по рекомендации Ваших Партнеров.
                    </p>
                    <img src="~/Content/img/partnership_7.png" alt="">
                </div>
            </div>
            <a class="hide-block hide-partnership-2">
                <img src="~/Content/img/hide.png" alt="">
            </a>
            <a class="page-link open-partnership-2"><span data-text="Подробнее">Подробнее</span></a>
        </div>
    </div>
    <div class="partnership-7">
        <div>
            <p class="subtitle">Участники выстраиваются в Линейной структуре следующим образом:</p>
            <img src="~/Content/img/partnership_8.png" alt="">
        </div>
    </div>
    <div class="partnership-8">
        <div>
            <p class="subtitle">
                <span data-text="Разберем пример:">Разберем пример:</span>
            </p>
            <div class="desc">
                <p>
                    Вы лично пригласили трех человек, которые купили Инвестиционные пакеты на $1000, $5000 и $10000.
                </p>
                <p>
                    С Пакета в $1000 Ваш приглашенный получает 2,5% за месяц, это =25$. Ваш доход 10% от 25$ =2,5$.
                </p>
                <p>
                    С Пакета в $5000 Ваш приглашенный получает 3,5% за месяц, это =175$. Ваш доход 10% от 175$ =17,5$.
                </p>
                <p>
                    С Пакета в $10000 Ваш приглашенный получает 4% за месяц, это =400$. Ваш доход 10% от 400$ =40$.
                </p>
                <p>
                    Суммарный доход от Вашей первой линии составляет: 2,5$+17,5$+40$=60$.
                </p>
                <p>
                    По такому же принципу рассчитываются доходы по остальным линиям.
                </p>
            </div>
            <p class="partner-active">
                Доходы по линиям суммируются и каждую неделю Начисляются на Ваш счет!
            </p>
        </div>
    </div>
    <div class="partnership-9">
        <div>
            <p class="subtitle">
                Активные Партнеры имеют пять квалификаций и получают по Программе «Пассивного дохода» в зависимости от полученной квалификации:
            </p>
            <table>
                <tr>
                    <th>
                        <p class="caption">
                            <span data-text="Квалификация">Квалификация</span>
                        </p>
                    </th>
                    <th>
                        <p class="caption">
                            <span data-text="Объем первой линии + свой">Объем первой линии + свой</span>
                        </p>
                    </th>
                    <th>
                        <p class="caption">
                            <span data-text="Число уровней, с которых">Число уровней, с которых</span>
                        </p>
                        <p class="caption">
                            <span data-text="получает по 10%">получает по 10%</span>
                        </p>
                    </th>
                </tr>
                <tr>
                    <td>Младший партнер</td>
                    <td>1000$</td>
                    <td>два</td>
                </tr>
                <tr>
                    <td>Партнер</td>
                    <td>15000$</td>
                    <td>три</td>
                </tr>
                <tr>
                    <td>Старший партнер</td>
                    <td>35000$</td>
                    <td>четыре</td>
                </tr>
                <tr>
                    <td>Ведущий партнер</td>
                    <td>65000$</td>
                    <td>пять</td>
                </tr>
                <tr>
                    <td>Премьер партнер</td>
                    <td>100000$</td>
                    <td>шесть</td>
                </tr>
            </table>
            <p class="desc">
                Плюс с неограниченного числа уровней «Премьер партнер», у которого есть три лично приглашённых имеющих квалификацию «Премьер партнер», получает 5% разностный бонус бесконечности.Т.е. есть если под ним появляется партнёр (не важно в каком уровне), получающий
                этот бонус, то с его структуры вышестоящий не получает!
            </p>
        </div>
    </div>
    <div class="partnership-10">
        <div>
            <p class="subtitle">
                <span data-text="Бонус бесконечности">Бонус бесконечности</span>
            </p>
            <div class="swiper-container swiper-partnership2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_9.png" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                «Премьер партнер», у которого есть четыре лично приглашённых партнеров «Премьер партнеров», 
                                получает <i>6%</i> разностный бонус бесконечности. То есть если под ним (не важно в каком уровне) 
                                появляется партнёр, получающий этот бонус в размере <i>6%</i> и выше, то с его структуры 
                                вышестоящий не получает этот бонус! А со структуры партнёра получающего <i>5%</i> он получает <i>1%</i>!
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_9-2.png" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                «Премьер партнер», у которого есть пять лично приглашённые в квалификации «Премьер партнер», 
                                получает <i>8%</i> разностный бонус бесконечности. 
                                То есть если под ним появляется партнёр (не важно в каком уровне), 
                                получающий этот бонус в размере <i>8%</i> и выше, то с его структуры вышестоящий этот 
                                бонус не получает! А со структуры партнёра получающего <i>6%</i> он получает <i>2%</i>! 
                                А со структуры партнёра получающего <i>5%</i> он получает <i>3%</i>!
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/partnership_9-3.png" alt="">
                        </div>
                        <div class="info">
                            <p class="desc">
                                «Премьер партнер», у которого есть шесть лично приглашённых в квалификации «Премьер партнер», 
                                получает <i>10%</i> разностный бонус бесконечности. 
                                То есть если под ним появляется партнёр (не важно в каком уровне), 
                                получающий этот бонус в размере <i>10%</i>, то с его структуры вышестоящий этот бонус не получает! 
                                А со структуры партнёра получающего <i>8%</i> он получает <i>2%</i>! 
                                А со структуры партнёра получающего <i>6%</i> он получает <i>4%</i>! 
                                А со структуры партнёра получающего <i>5%</i> он получает <i>5%</i>!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <p class="bonus">
                *Бонус бесконечности платится со всех уровней и складывается с бонусом 10% по первым шести уровням!!!
            </p>
            <a class="hide-block hide-partnership-2">
                <img src="~/Content/img/hide.png" alt="">
            </a>
        </div>
    </div>
</div>