@{
    ViewBag.Title = "Partnership";
}

<div class="partnership-page">
    <div class="inner-page-top" style="background-image: url(/Content/img/inner-page-top-partnership.jpg)">
        <div class="container">
            <h2>Partnership</h2>
        </div>
    </div>
    <div class="bread">
        <div class="container">
            <a href="/">Home page</a>
            <i>/</i>
            <span>Partnership</span>
        </div>
    </div>
    <div class="white-bg">
        <div class="about-block-1">
            <div class="container">
                <p>
                    <i class="ion-ios-information"></i>
                    Partnership is one of key elements of development of the Way to Wealth Platform. Our culture is defined by integrity of team, discipline and respect. We look for members of the team who show such qualities, and can make the contribution and skills in development of the Way to Wealth Platform. Our Platform is intended for creation of the long-term relations with the partners, accepting an active sympathetic role in consultation and the help in their daily operational and strategic decisions.
                </p>
            </div>
        </div>
        <div class="partnership-1_2">
            <div class="container">
                <h3 class="section-title">Partner programs and Plan of payments</h3>
                <p>
                    The Way to Wealth program is a unique payment plan for each Partner, allowing you to create a TRANSPARENT passive income that is EASY to predict and calculate.
                </p>
                <p>
                    To become a Partner, you must acquire one of one of investment packages.
                </p>
            </div>
        </div>
    </div>
    <div class="partnership-1_3">
        <div class="container">
            <h3 class="section-title text-left yellow">Investment program</h3>
            <div class="partnership-1_3-block">
                <img src="~/Content/img/partnership-referal.png" alt="">
                <p>

                    In a line of investment solutions of the Way to Wealth Platform there are six types of investment packages of the different level of profitability which period of validity makes 365 days with a possibility of renewal are offered at choice! After acquiring of one of investment packages, automatically you automatically get a place in the <a href="#partnership-3" style="color: #cda947;text-decoration: underline;"><span>binary affiliate</span></a> program.
                </p>
            </div>
            <h3 class="section-title text-right yellow">Referral program</h3>
            <div class="partnership-1_3-block">
                <img src="~/Content/img/partnership-invest.png" alt="">
                <p>
                    When, according to your personal reference, the person acquires any of the Investment packages, he becomes your referral and to you, one-time, the Platform receives a Reward (“Instant Reward”) in the amount of up to 10% of the value of the acquired Package Then next day you receive it into the account available for withdrawal!
                </p>
            </div>
        </div>
    </div>
    <div id="partnership-3" class="partnership-3 white-bg">
        <div class="container">
            <h3 class="section-title">Binary program</h3>
            <div class="partnership-3-block">
                <img src="~/Content/img/partnership-3-img.png" alt="">
                <p>
                    For those who want to realize themselves as an investor today, but do not have enough money, they can purchase a «Startup Package» for a minimum amount of $ 100, which will give them the opportunity to become a Way to Wealth Partner and earn their own investment Package! Way to Wealth partners have the opportunity to earn not only from their own investments, but also from the referral program.
                </p>
            </div>
        </div>
    </div>
    <div class="partnership-4">
        <div class="container">
            <h3 class="section-title yellow">Distribution of partners in the system</h3>
            <div class="partnership-4-block">
                <img src="~/Content/img/structure-full-new.png" alt="">
                <p>
                    All partners, regardless of which Package is purchased, receive a position (place) in the Binary Program Way to Wealth and receive a special link to attract their referrals. Binary marketing is extremely simple and it will not be difficult to understand its essence. This marketing plan is a network structure in which you develop only by giving directions: left and right, and payments to you go from the entire turnover of the structure, regardless of its depth. In this case, you get up to 10% of the turnover of the weak direction.
                </p>
            </div>
        </div>
    </div>
</div>