@{
    ViewBag.Title = "Партнерство";
}

<div class="partnership-page">
    <div class="inner-page-top" style="background-image: url(/Content/img/inner-page-top-partnership.jpg)">
        <div class="container">
            <h2>Партнерство</h2>
        </div>
    </div>
    <div class="bread">
        <div class="container">
            <a href="/">Главная</a>
            <i>/</i>
            <span>Партнерство</span>
        </div>
    </div>
    <div class="white-bg">
        <div class="about-block-1">
            <div class="container">
                <p>
                    <i class="ion-ios-information"></i>
                    Партнёрство один из ключевых элементов развития платформы Way to Wealth. Наша культура определяется целостностью команды, дисциплиной и уважением. Мы ищем членов команды, которые демонстрируют такие качества, и могут внести свой вклад и навыки в развитие платформы Way to Wealth. Наша платформа предназначена для построения долгосрочных отношений со своими партнёрами, принимая активную отзывчивую роль в консультировании и помощи в их повседневных оперативных и стратегических решениях.
                </p>
            </div>
        </div>
        <div class="partnership-1_2">
            <div class="container">
                <h3 class="section-title">Описание Партнерских программ и Плана выплат</h3>
                <p>
                    Программы Way to Wealth  это уникальный план выплат для каждого Партнера, позволяющий создать себе ПРОЗРАЧНЫЙ пассивный доход, который ЛЕГКО спрогнозировать и просчитать.
                </p>
                <p>
                    Чтобы стать Партнером необходимо приобрести себе один из Портфелей компании.
                </p>
            </div>
        </div>
    </div>
    <div class="partnership-1_3">
        <div class="container">
            <h3 class="section-title text-left yellow">Инвестиционная программа</h3>
            <div class="partnership-1_3-block">
                <img src="~/Content/img/partnership-referal.png" alt="">
                <p>
                    Платформа Way to Wealth в линейке своих инвестиционных портфелей предлагает на выбор шесть видов инвестиционных продуктов с разным уровнем доходности, срок действия которых составляет 365 дней с возможностью пролонгации! После приобретения одного из инвестиционных пакетов Вы автоматически получаете место в <a href="#partnership-3" style="color: #cda947;text-decoration: underline;">
                        <span>
                            «бинарной партнерской» программе
                        </span>
                    </a>.
                </p>
            </div>
            <h3 class="section-title text-right yellow">Реферальная программа</h3>
            <div class="partnership-1_3-block">
                <img src="~/Content/img/partnership-invest.png" alt="">
                <p>
                    Когда по Вашей личной рекомендации человек приобретает любой из Инвестиционных портфелей, он становится Вашим рефералом и Вам, единоразово, от Платформы начисляется Вознаграждение («Моментальное вознаграждение») в размере до 10% от стоимости приобретенного Пакета и уже на следующий день получаете его на свой счет, доступный для вывода!
                </p>
            </div>
        </div>
    </div>
    <div id="partnership-3" class="partnership-3 white-bg">
        <div class="container">
            <h3 class="section-title">Бинарная программа</h3>
            <div class="partnership-3-block">
                <img src="~/Content/img/partnership-3-img.png" alt="">
                <p>
                    Для тех, кто на сегодняшний день хочет реализовать себя в роли инвестора, но не имеет достаточно средств, может приобрести себе «Стартовый портфель» за минимальную сумму в 100$, который предоставит ему возможность стать Партнером Way to Wealth и заработать себе собственный инвестиционный портфель! Партнеры Way to Wealth имеют возможность зарабатывать не только с собственных инвестиций, но и с реферальной программы.
                </p>
            </div>
        </div>
    </div>
    <div class="partnership-4">
        <div class="container">
            <h3 class="section-title yellow">Распределение партнеров в системе</h3>
            <div class="partnership-4-block">
                <img src="~/Content/img/structure-full-new.png" alt="">
                <p>
                    Все партнёры, вне зависимости, от того, какой портфель куплен, получают позицию (место) в Бинарной программе Way to Wealth и получает специальную ссылку для привлечения своих рефералов.
                    Бинарный маркетинг - крайне прост и разобраться в его сути будет не сложно. Данный маркетинг план — представляет собой сетевую структуру, в которой вы развиваете только, дав направления: левое и правое, а выплаты вам идут от всего оборота структуры независимо от её глубины. В данном случае вы получаете до 10% от оборота слабого направления.
                </p>
            </div>
        </div>
    </div>
</div>