@{
    ViewBag.Title = "Partnership";
}

<div class="partnership-page">
    <div class="inner-page-top" style="background-image: url(/Content/img/inner-page-top-partnership.jpg)">
        <div class="container">
            <h2>Partnership</h2>
        </div>
    </div>
    <div class="bread">
        <div class="container">
            <a href="/">Home page</a>
            <i>/</i>
            <span>Partnership</span>
        </div>
    </div>
    <div class="white-bg">
        <div class="about-block-1">
            <div class="container">
                <p class="animated">
                    <i class="ion-ios-information"></i>
                    Partnership is one of key elements of development of the Way to Wealth Platform. Our culture is defined by integrity of team, discipline and respect. We look for members of the team who show such qualities, and can make the contribution and skills in development of the Way to Wealth Platform. Our Platform is intended for creation of the long-term relations with the partners, accepting an active sympathetic role in consultation and the help in their daily operational and strategic decisions.
                </p>
            </div>
        </div>
        <div class="partnership-1_2">
            <div class="container animated">
                <h3 class="section-title">Partner programs and Plan of payments</h3>
                <p>
                    The Way to Wealth program is a unique payment plan for each Partner, allowing you to create a TRANSPARENT passive income that is EASY to predict and calculate.
                </p>
                <p>
                    To become a Partner, you must acquire one of the company's Portfolios.
                </p>
            </div>
        </div>
    </div>
    <div class="partnership-1_3">
        <div class="container">
            <h3 class="section-title text-left yellow">Investment program</h3>
            <div class="partnership-1_3-block">
                <img src="~/Content/img/partnership-referal.png" alt="" class="animated">
                <p class="animated" style="transition-delay:0.3s;">

                    The Way to Wealth platform in the line of its investment portfolios offers a choice of eight types of investment products with different levels of profitability, the validity of which is 365 days with the possibility of prolongation!  After acquiring one of the investment portfolios, you automatically get a place in the <a href="#partnership-3" style="color: #cda947;text-decoration: underline;">
                        <span>
                            binary program
                        </span>
                    </a>.
                </p>
            </div>
            <h3 class="section-title text-right yellow">Referral program</h3>
            <div class="partnership-1_3-block">
                <img src="~/Content/img/partnership-invest.png" alt="" class="animated">
                <p class="animated" style="transition-delay:0.3s;">
                    When, according to your personal recommendation, a person acquires any of the Investment portfolios, he becomes your referral and you receive a Reward (“Immediate Reward”) from the Platform one time up to 10% of the value of the acquired portfolio, and the next day you will receive a bonus to your account  which is available for withdrawal!
                </p>
            </div>
        </div>
    </div>
    <div id="partnership-3" class="partnership-3 white-bg">
        <div class="container">
            <h3 class="section-title">Binary program</h3>
            <div class="partnership-3-block">
                <img src="~/Content/img/partnership-3-img.png" alt="" class="animated">
                <p class="animated" style="transition-delay:0.3s;">
                    For those who today want to realize themselves in the role of an investor, but do not have enough money, they can purchase a Startup Portfolio for a minimum amount of $ 100, which will give him the opportunity to become a Way to Wealth Partner and earn his own investment  portfolio!  Way to Wealth partners have the opportunity to earn not only from their own investments, but also from an affiliate program.

                </p>
            </div>
        </div>
    </div>
    <div class="partnership-4">
        <div class="container">
            <h3 class="section-title yellow">Distribution of partners in the system</h3>
            <div class="partnership-4-block">
                <img src="~/Content/img/structure-full-new.png" alt="" class="animated">
                <p class="animated" style="transition-delay:0.3s;">
                    For those who today want to realize themselves in the role of an investor, but do not have enough money, they can purchase a Startup Portfolio for a minimum amount of $ 100, which will give him the opportunity to become a Way to Wealth Partner and earn his own investment  portfolio!  Way to Wealth partners have the opportunity to earn not only from their own investments, but also from an affiliate program.
                </p>
            </div>
        </div>
    </div>
</div>