@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = Resources.Resource.StructureTitle;
    ViewBag.Version = 9;//11
}
@section HeadSection{
    <link rel="stylesheet" href="~/Areas/lk/Content/css/libs.min.css?v=@ViewBag.Version">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/themes/default/style.min.css" />
    <link rel="stylesheet" href="~/Areas/lk/Content/css/main.css?v=@ViewBag.Version">
    <script src="~/Areas/lk/Content/js/scripts.min.js?v=@ViewBag.Version"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Areas/lk/Content/js/common.js?v=@ViewBag.Version"></script>
    <style>
        body {
            height: 100%;
        }
    </style>
}

@RenderBody()
<div class="wrap-modal" style="display:none">

    <div class="modal" id="searchResults">

    </div>
</div>

@section FootSection{
    
}