@using Common.Web
@{
                /**/

                Layout = "~/Views/Shared/_Layout.cshtml";
                var action = ViewContext.RouteData.Values["action"].ToString();
                List<Notification> notifications = (List<Notification>)Session[Notification.Key] ?? new List<Notification>();
                ViewBag.Version = 11;
}
@section HeadSection{
    <link rel="stylesheet" href="~/Areas/lk/Content/css/libs.min.css?v=@ViewBag.Version">
    <link rel="stylesheet" href="~/Areas/lk/Content/css/main.css?v=@ViewBag.Version">
    <script src="~/Areas/lk/Content/js/scripts.min.js?v=@ViewBag.Version"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
}

    <div class="wrap-content">
        <div class="loader-absolute"><div class="loader text-center"><img src="~/Areas/lk/Content/img/ajax-loader.gif"></img></div></div>
        <style>
            .loader-absolute {
                top: 0;
                left: 0%;
                width: 100%;
                height: 100%;
                position: fixed;
                display: none;
            }

            .loader {
                position: relative;
                top: 45%;
            }

            .loader-absolute.active {                
                background: rgba(0,0,0,0.5);
                z-index: 10;
                display:block;
            }
        </style>
        @Html.Partial("_Toolbar")
        <div class="content">
            @RenderBody()
        </div>
    </div>

@section FootSection{


    @if (notifications.Count > 0)
    {
        <div class="wrap-modal flex">
            @foreach (var item in notifications.ToList())
            {
                <div class="modal">
                    @if (item.IsSuccess)
                    {
                        <i class="ion-ios-checkmark modal-icon"></i>
                    }
                    else
                    {
                        <i class="ion-ios-close modal-icon modal-icon-close"></i>
                    }

                    <p class="m-b-30">@Html.Raw(item.Message)</p>
                    <a class="btn btn-bordered btn-sm close-modal-btn">@Resources.Resource.Close</a>
                </div>
                notifications.Remove(item);

            }
        </div>
    }
    else
    {
        <div class="wrap-modal flex" style="display:none">
            <div class="modal" id="searchResults"></div>
        </div>
    }


    <script src="~/Areas/lk/Content/js/common.js?v=@ViewBag.Version"></script>
}
